code/MultiplyAttributes/CyPhyML_ESMoL.xsd

<?xml version="1.0" encoding="UTF-8"?>
<?udm interface="CyPhyML" version="1.00"?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="http://www.isis.vanderbilt.edu/2004/schemas/ESMoL"
 xmlns:ESMoL="http://www.isis.vanderbilt.edu/2004/schemas/ESMoL"
 elementFormDefault="qualified" 
>
<!-- generated on Tue Jan 11 13:20:23 2011 -->


	<xsd:complexType name="BChanType">
		<xsd:attribute name="position" type="xsd:string"/>
		<xsd:attribute name="name" type="xsd:string"/>
		<xsd:attribute name="Configuration" type="xsd:string" use="required"/>
		<xsd:attribute name="srcWire" type="xsd:IDREFS"/>
		<xsd:attribute name="dstWire" type="xsd:IDREFS"/>
		<xsd:attribute name="srcExecutionAssignment" type="xsd:IDREFS"/>
		<xsd:attribute name="srcCommMapping" type="xsd:IDREFS"/>
		<xsd:attribute name="dstCommMapping" type="xsd:IDREFS"/>
		<xsd:attribute name="_id" type="xsd:ID"/>
		<xsd:attribute name="_archetype" type="xsd:IDREF"/>
		<xsd:attribute name="_derived" type="xsd:IDREFS"/>
		<xsd:attribute name="_instances" type="xsd:IDREFS"/>
		<xsd:attribute name="_desynched_atts" type="xsd:string"/>
		<xsd:attribute name="_real_archetype" type="xsd:boolean"/>
		<xsd:attribute name="_subtype" type="xsd:boolean"/>
	</xsd:complexType>

	<xsd:complexType name="OChanType">
		<xsd:attribute name="position" type="xsd:string"/>
		<xsd:attribute name="name" type="xsd:string"/>
		<xsd:attribute name="Configuration" type="xsd:string" use="required"/>
		<xsd:attribute name="dstActuationConnection" type="xsd:IDREFS"/>
		<xsd:attribute name="srcWire" type="xsd:IDREFS"/>
		<xsd:attribute name="dstWire" type="xsd:IDREFS"/>
		<xsd:attribute name="srcExecutionAssignment" type="xsd:IDREFS"/>
		<xsd:attribute name="srcCommMapping" type="xsd:IDREFS"/>
		<xsd:attribute name="dstCommMapping" type="xsd:IDREFS"/>
		<xsd:attribute name="_id" type="xsd:ID"/>
		<xsd:attribute name="_archetype" type="xsd:IDREF"/>
		<xsd:attribute name="_derived" type="xsd:IDREFS"/>
		<xsd:attribute name="_instances" type="xsd:IDREFS"/>
		<xsd:attribute name="_desynched_atts" type="xsd:string"/>
		<xsd:attribute name="_real_archetype" type="xsd:boolean"/>
		<xsd:attribute name="_subtype" type="xsd:boolean"/>
	</xsd:complexType>

	<xsd:complexType name="IChanType">
		<xsd:attribute name="position" type="xsd:string"/>
		<xsd:attribute name="name" type="xsd:string"/>
		<xsd:attribute name="Configuration" type="xsd:string" use="required"/>
		<xsd:attribute name="srcAcquisitionConnection" type="xsd:IDREFS"/>
		<xsd:attribute name="srcWire" type="xsd:IDREFS"/>
		<xsd:attribute name="dstWire" type="xsd:IDREFS"/>
		<xsd:attribute name="srcExecutionAssignment" type="xsd:IDREFS"/>
		<xsd:attribute name="srcCommMapping" type="xsd:IDREFS"/>
		<xsd:attribute name="dstCommMapping" type="xsd:IDREFS"/>
		<xsd:attribute name="_id" type="xsd:ID"/>
		<xsd:attribute name="_archetype" type="xsd:IDREF"/>
		<xsd:attribute name="_derived" type="xsd:IDREFS"/>
		<xsd:attribute name="_instances" type="xsd:IDREFS"/>
		<xsd:attribute name="_desynched_atts" type="xsd:string"/>
		<xsd:attribute name="_real_archetype" type="xsd:boolean"/>
		<xsd:attribute name="_subtype" type="xsd:boolean"/>
	</xsd:complexType>

	<xsd:complexType name="PlantType">
		<xsd:attribute name="position" type="xsd:string"/>
		<xsd:attribute name="name" type="xsd:string"/>
		<xsd:attribute name="srcPhysConnection" type="xsd:IDREFS"/>
		<xsd:attribute name="dstPhysConnection" type="xsd:IDREFS"/>
		<xsd:attribute name="_id" type="xsd:ID"/>
		<xsd:attribute name="_archetype" type="xsd:IDREF"/>
		<xsd:attribute name="_derived" type="xsd:IDREFS"/>
		<xsd:attribute name="_instances" type="xsd:IDREFS"/>
		<xsd:attribute name="_desynched_atts" type="xsd:string"/>
		<xsd:attribute name="_real_archetype" type="xsd:boolean"/>
		<xsd:attribute name="_subtype" type="xsd:boolean"/>
	</xsd:complexType>

	<xsd:complexType name="IODeviceType">
		<xsd:sequence>
			<xsd:element name="TTExecContext" type="ESMoL:TTExecContextType" minOccurs="0" maxOccurs="unbounded"/>
		</xsd:sequence>
		<xsd:attribute name="position" type="xsd:string"/>
		<xsd:attribute name="name" type="xsd:string"/>
		<xsd:attribute name="DeviceType" type="xsd:string" use="required"/>
		<xsd:attribute name="Configuration" type="xsd:string" use="required"/>
		<xsd:attribute name="srcActuationConnection" type="xsd:IDREFS"/>
		<xsd:attribute name="srcPhysConnection" type="xsd:IDREFS"/>
		<xsd:attribute name="dstPhysConnection" type="xsd:IDREFS"/>
		<xsd:attribute name="dstAcquisitionConnection" type="xsd:IDREFS"/>
		<xsd:attribute name="_id" type="xsd:ID"/>
		<xsd:attribute name="_archetype" type="xsd:IDREF"/>
		<xsd:attribute name="_derived" type="xsd:IDREFS"/>
		<xsd:attribute name="_instances" type="xsd:IDREFS"/>
		<xsd:attribute name="_desynched_atts" type="xsd:string"/>
		<xsd:attribute name="_real_archetype" type="xsd:boolean"/>
		<xsd:attribute name="_subtype" type="xsd:boolean"/>
	</xsd:complexType>

	<xsd:complexType name="ActuationConnectionType">
		<xsd:attribute name="position" type="xsd:string"/>
		<xsd:attribute name="name" type="xsd:string"/>
		<xsd:attribute name="srcActuationConnection_end_" type="xsd:IDREF"/>
		<xsd:attribute name="dstActuationConnection_end_" type="xsd:IDREF"/>
		<xsd:attribute name="_id" type="xsd:ID"/>
		<xsd:attribute name="_archetype" type="xsd:IDREF"/>
		<xsd:attribute name="_derived" type="xsd:IDREFS"/>
		<xsd:attribute name="_instances" type="xsd:IDREFS"/>
		<xsd:attribute name="_desynched_atts" type="xsd:string"/>
		<xsd:attribute name="_real_archetype" type="xsd:boolean"/>
		<xsd:attribute name="_subtype" type="xsd:boolean"/>
	</xsd:complexType>

	<xsd:complexType name="AcquisitionConnectionType">
		<xsd:attribute name="position" type="xsd:string"/>
		<xsd:attribute name="name" type="xsd:string"/>
		<xsd:attribute name="srcAcquisitionConnection_end_" type="xsd:IDREF"/>
		<xsd:attribute name="dstAcquisitionConnection_end_" type="xsd:IDREF"/>
		<xsd:attribute name="_id" type="xsd:ID"/>
		<xsd:attribute name="_archetype" type="xsd:IDREF"/>
		<xsd:attribute name="_derived" type="xsd:IDREFS"/>
		<xsd:attribute name="_instances" type="xsd:IDREFS"/>
		<xsd:attribute name="_desynched_atts" type="xsd:string"/>
		<xsd:attribute name="_real_archetype" type="xsd:boolean"/>
		<xsd:attribute name="_subtype" type="xsd:boolean"/>
	</xsd:complexType>

	<xsd:complexType name="PhysConnectionType">
		<xsd:attribute name="position" type="xsd:string"/>
		<xsd:attribute name="name" type="xsd:string"/>
		<xsd:attribute name="srcPhysConnection_end_" type="xsd:IDREF"/>
		<xsd:attribute name="dstPhysConnection_end_" type="xsd:IDREF"/>
		<xsd:attribute name="_id" type="xsd:ID"/>
		<xsd:attribute name="_archetype" type="xsd:IDREF"/>
		<xsd:attribute name="_derived" type="xsd:IDREFS"/>
		<xsd:attribute name="_instances" type="xsd:IDREFS"/>
		<xsd:attribute name="_desynched_atts" type="xsd:string"/>
		<xsd:attribute name="_real_archetype" type="xsd:boolean"/>
		<xsd:attribute name="_subtype" type="xsd:boolean"/>
	</xsd:complexType>

	<xsd:complexType name="WireType">
		<xsd:attribute name="position" type="xsd:string"/>
		<xsd:attribute name="name" type="xsd:string"/>
		<xsd:attribute name="srcWire_end_" type="xsd:IDREF"/>
		<xsd:attribute name="dstWire_end_" type="xsd:IDREF"/>
		<xsd:attribute name="_id" type="xsd:ID"/>
		<xsd:attribute name="_archetype" type="xsd:IDREF"/>
		<xsd:attribute name="_derived" type="xsd:IDREFS"/>
		<xsd:attribute name="_instances" type="xsd:IDREFS"/>
		<xsd:attribute name="_desynched_atts" type="xsd:string"/>
		<xsd:attribute name="_real_archetype" type="xsd:boolean"/>
		<xsd:attribute name="_subtype" type="xsd:boolean"/>
	</xsd:complexType>

	<xsd:complexType name="OSType">
		<xsd:attribute name="position" type="xsd:string"/>
		<xsd:attribute name="name" type="xsd:string"/>
		<xsd:attribute name="RecvOverheadTime" type="xsd:string" default="0s"/>
		<xsd:attribute name="TickResolution" type="xsd:string" default="1ms"/>
		<xsd:attribute name="SendOverheadTime" type="xsd:string" default="0s"/>
		<xsd:attribute name="ContextSwitchTime" type="xsd:string" default="0s"/>
		<xsd:attribute name="_id" type="xsd:ID"/>
		<xsd:attribute name="_archetype" type="xsd:IDREF"/>
		<xsd:attribute name="_derived" type="xsd:IDREFS"/>
		<xsd:attribute name="_instances" type="xsd:IDREFS"/>
		<xsd:attribute name="_desynched_atts" type="xsd:string"/>
		<xsd:attribute name="_real_archetype" type="xsd:boolean"/>
		<xsd:attribute name="_subtype" type="xsd:boolean"/>
	</xsd:complexType>

	<xsd:complexType name="NodeType">
		<xsd:sequence>
			<xsd:element name="BChan" type="ESMoL:BChanType" minOccurs="0" maxOccurs="unbounded"/>
			<xsd:element name="IChan" type="ESMoL:IChanType" minOccurs="0" maxOccurs="unbounded"/>
			<xsd:element name="OChan" type="ESMoL:OChanType" minOccurs="0" maxOccurs="unbounded"/>
			<xsd:element name="OS" type="ESMoL:OSType" minOccurs="0"/>
			<xsd:element name="TTExecContext" type="ESMoL:TTExecContextType" minOccurs="0" maxOccurs="unbounded"/>
		</xsd:sequence>
		<xsd:attribute name="position" type="xsd:string"/>
		<xsd:attribute name="name" type="xsd:string"/>
		<xsd:attribute name="Configuration" type="xsd:string" use="required"/>
		<xsd:attribute name="CPU" type="xsd:string" use="required"/>
		<xsd:attribute name="PlatformType" type="xsd:string" use="required"/>
		<xsd:attribute name="Speed" type="xsd:long" use="required"/>
		<xsd:attribute name="RAM" type="xsd:long" use="required"/>
		<xsd:attribute name="ROM" type="xsd:long" use="required"/>
		<xsd:attribute name="Simulator" type="xsd:string" use="required"/>
		<xsd:attribute name="referedbyNodeRef" type="xsd:IDREFS"/>
		<xsd:attribute name="_id" type="xsd:ID"/>
		<xsd:attribute name="_archetype" type="xsd:IDREF"/>
		<xsd:attribute name="_derived" type="xsd:IDREFS"/>
		<xsd:attribute name="_instances" type="xsd:IDREFS"/>
		<xsd:attribute name="_desynched_atts" type="xsd:string"/>
		<xsd:attribute name="_real_archetype" type="xsd:boolean"/>
		<xsd:attribute name="_subtype" type="xsd:boolean"/>
	</xsd:complexType>

	<xsd:complexType name="NetworkType">
		<xsd:sequence>
			<xsd:element name="BChan" type="ESMoL:BChanType" minOccurs="0" maxOccurs="unbounded"/>
			<xsd:element name="TTExecContext" type="ESMoL:TTExecContextType" minOccurs="0" maxOccurs="unbounded"/>
		</xsd:sequence>
		<xsd:attribute name="position" type="xsd:string"/>
		<xsd:attribute name="name" type="xsd:string"/>
		<xsd:attribute name="Configuration" type="xsd:string" use="required"/>
		<xsd:attribute name="DataRate" type="xsd:string" default="1b"/>
		<xsd:attribute name="_id" type="xsd:ID"/>
		<xsd:attribute name="_archetype" type="xsd:IDREF"/>
		<xsd:attribute name="_derived" type="xsd:IDREFS"/>
		<xsd:attribute name="_instances" type="xsd:IDREFS"/>
		<xsd:attribute name="_desynched_atts" type="xsd:string"/>
		<xsd:attribute name="_real_archetype" type="xsd:boolean"/>
		<xsd:attribute name="_subtype" type="xsd:boolean"/>
	</xsd:complexType>

	<xsd:complexType name="HardwareUnitType">
		<xsd:sequence>
			<xsd:element name="AcquisitionConnection" type="ESMoL:AcquisitionConnectionType" minOccurs="0" maxOccurs="unbounded"/>
			<xsd:element name="ActuationConnection" type="ESMoL:ActuationConnectionType" minOccurs="0" maxOccurs="unbounded"/>
			<xsd:element name="BChan" type="ESMoL:BChanType" minOccurs="0" maxOccurs="unbounded"/>
			<xsd:element name="HardwareUnit" type="ESMoL:HardwareUnitType" minOccurs="0" maxOccurs="unbounded"/>
			<xsd:element name="IChan" type="ESMoL:IChanType" minOccurs="0" maxOccurs="unbounded"/>
			<xsd:element name="IODevice" type="ESMoL:IODeviceType" minOccurs="0" maxOccurs="unbounded"/>
			<xsd:element name="Network" type="ESMoL:NetworkType" minOccurs="0" maxOccurs="unbounded"/>
			<xsd:element name="Node" type="ESMoL:NodeType" minOccurs="0" maxOccurs="unbounded"/>
			<xsd:element name="OChan" type="ESMoL:OChanType" minOccurs="0" maxOccurs="unbounded"/>
			<xsd:element name="OldBus" type="ESMoL:OldBusType" minOccurs="0" maxOccurs="unbounded"/>
			<xsd:element name="PhysConnection" type="ESMoL:PhysConnectionType" minOccurs="0" maxOccurs="unbounded"/>
			<xsd:element name="Plant" type="ESMoL:PlantType" minOccurs="0" maxOccurs="unbounded"/>
			<xsd:element name="TTBus" type="ESMoL:TTBusType" minOccurs="0" maxOccurs="unbounded"/>
			<xsd:element name="TTExecContext" type="ESMoL:TTExecContextType" minOccurs="0" maxOccurs="unbounded"/>
			<xsd:element name="Wire" type="ESMoL:WireType" minOccurs="0" maxOccurs="unbounded"/>
		</xsd:sequence>
		<xsd:attribute name="position" type="xsd:string"/>
		<xsd:attribute name="name" type="xsd:string"/>
		<xsd:attribute name="Configuration" type="xsd:string" use="required"/>
		<xsd:attribute name="referedbyCPHardware" type="xsd:IDREFS"/>
		<xsd:attribute name="_id" type="xsd:ID"/>
		<xsd:attribute name="_archetype" type="xsd:IDREF"/>
		<xsd:attribute name="_derived" type="xsd:IDREFS"/>
		<xsd:attribute name="_instances" type="xsd:IDREFS"/>
		<xsd:attribute name="_desynched_atts" type="xsd:string"/>
		<xsd:attribute name="_real_archetype" type="xsd:boolean"/>
		<xsd:attribute name="_subtype" type="xsd:boolean"/>
	</xsd:complexType>

	<xsd:complexType name="TTBusType">
		<xsd:sequence>
			<xsd:element name="TTExecContext" type="ESMoL:TTExecContextType" minOccurs="0" maxOccurs="unbounded"/>
		</xsd:sequence>
		<xsd:attribute name="position" type="xsd:string"/>
		<xsd:attribute name="name" type="xsd:string"/>
		<xsd:attribute name="Configuration" type="xsd:string" use="required"/>
		<xsd:attribute name="MinFrameSize" type="xsd:string" default="512B"/>
		<xsd:attribute name="SwitchMemorySize" type="xsd:string" default="80MB"/>
		<xsd:attribute name="DeprecatedOH" type="xsd:string" default="0s"/>
		<xsd:attribute name="DataRate" type="xsd:string" default="1b"/>
		<xsd:attribute name="TTSetupTime" type="xsd:string" default="0s"/>
		<xsd:attribute name="SlotSize" type="xsd:string" default="512B"/>
		<xsd:attribute name="Hyperperiod" type="xsd:string" default="0s"/>
		<xsd:attribute name="srcWire" type="xsd:IDREFS"/>
		<xsd:attribute name="dstWire" type="xsd:IDREFS"/>
		<xsd:attribute name="_id" type="xsd:ID"/>
		<xsd:attribute name="_archetype" type="xsd:IDREF"/>
		<xsd:attribute name="_derived" type="xsd:IDREFS"/>
		<xsd:attribute name="_instances" type="xsd:IDREFS"/>
		<xsd:attribute name="_desynched_atts" type="xsd:string"/>
		<xsd:attribute name="_real_archetype" type="xsd:boolean"/>
		<xsd:attribute name="_subtype" type="xsd:boolean"/>
	</xsd:complexType>

	<xsd:complexType name="OldBusType">
		<xsd:sequence>
			<xsd:element name="TTExecContext" type="ESMoL:TTExecContextType" minOccurs="0" maxOccurs="unbounded"/>
		</xsd:sequence>
		<xsd:attribute name="position" type="xsd:string"/>
		<xsd:attribute name="name" type="xsd:string"/>
		<xsd:attribute name="Configuration" type="xsd:string" use="required"/>
		<xsd:attribute name="MinFrameSize" type="xsd:string" default="512B"/>
		<xsd:attribute name="SwitchMemorySize" type="xsd:string" default="80MB"/>
		<xsd:attribute name="DeprecatedOH" type="xsd:string" default="0s"/>
		<xsd:attribute name="DataRate" type="xsd:string" default="1b"/>
		<xsd:attribute name="FrameSize" type="xsd:long" use="required"/>
		<xsd:attribute name="OverheadTime" type="xsd:string" default="0s"/>
		<xsd:attribute name="Medium" type="xsd:string" use="required"/>
		<xsd:attribute name="srcWire" type="xsd:IDREFS"/>
		<xsd:attribute name="dstWire" type="xsd:IDREFS"/>
		<xsd:attribute name="_id" type="xsd:ID"/>
		<xsd:attribute name="_archetype" type="xsd:IDREF"/>
		<xsd:attribute name="_derived" type="xsd:IDREFS"/>
		<xsd:attribute name="_instances" type="xsd:IDREFS"/>
		<xsd:attribute name="_desynched_atts" type="xsd:string"/>
		<xsd:attribute name="_real_archetype" type="xsd:boolean"/>
		<xsd:attribute name="_subtype" type="xsd:boolean"/>
	</xsd:complexType>

	<xsd:complexType name="ModelInfoType">
		<xsd:attribute name="position" type="xsd:string"/>
		<xsd:attribute name="name" type="xsd:string"/>
		<xsd:attribute name="ModelPath" type="xsd:string" use="required"/>
		<xsd:attribute name="DateTimeStamp" type="xsd:string" use="required"/>
		<xsd:attribute name="_id" type="xsd:ID"/>
		<xsd:attribute name="_archetype" type="xsd:IDREF"/>
		<xsd:attribute name="_derived" type="xsd:IDREFS"/>
		<xsd:attribute name="_instances" type="xsd:IDREFS"/>
		<xsd:attribute name="_desynched_atts" type="xsd:string"/>
		<xsd:attribute name="_real_archetype" type="xsd:boolean"/>
		<xsd:attribute name="_subtype" type="xsd:boolean"/>
	</xsd:complexType>

	<xsd:complexType name="SporadicExecInfoType">
		<xsd:attribute name="position" type="xsd:string"/>
		<xsd:attribute name="name" type="xsd:string"/>
		<xsd:attribute name="MinimumPeriod" type="xsd:string" use="required"/>
		<xsd:attribute name="WCDuration" type="xsd:string" use="required"/>
		<xsd:attribute name="dstExecutionAssignment" type="xsd:IDREFS"/>
		<xsd:attribute name="_id" type="xsd:ID"/>
		<xsd:attribute name="_archetype" type="xsd:IDREF"/>
		<xsd:attribute name="_derived" type="xsd:IDREFS"/>
		<xsd:attribute name="_instances" type="xsd:IDREFS"/>
		<xsd:attribute name="_desynched_atts" type="xsd:string"/>
		<xsd:attribute name="_real_archetype" type="xsd:boolean"/>
		<xsd:attribute name="_subtype" type="xsd:boolean"/>
	</xsd:complexType>

	<xsd:complexType name="MessageRefType">
		<xsd:attribute name="position" type="xsd:string"/>
		<xsd:attribute name="name" type="xsd:string"/>
		<xsd:attribute name="srcExecutionAssignment" type="xsd:IDREFS"/>
		<xsd:attribute name="srcIOPortAssignment" type="xsd:IDREFS"/>
		<xsd:attribute name="srcConnector" type="xsd:IDREFS"/>
		<xsd:attribute name="dstConnector" type="xsd:IDREFS"/>
		<xsd:attribute name="srcConnector__rp_helper_rev" type="xsd:IDREFS"/>
		<xsd:attribute name="dstConnector__rp_helper_rev" type="xsd:IDREFS"/>
		<xsd:attribute name="srcDependency" type="xsd:IDREFS"/>
		<xsd:attribute name="dstDependency" type="xsd:IDREFS"/>
		<xsd:attribute name="srcTrigger" type="xsd:IDREFS"/>
		<xsd:attribute name="dstTrigger" type="xsd:IDREFS"/>
		<xsd:attribute name="referedbyBusMessageRef" type="xsd:IDREFS"/>
		<xsd:attribute name="ref" type="xsd:IDREF"/>
		<xsd:attribute name="srcCommMapping" type="xsd:IDREFS"/>
		<xsd:attribute name="dstCommMapping" type="xsd:IDREFS"/>
		<xsd:attribute name="_id" type="xsd:ID"/>
		<xsd:attribute name="_archetype" type="xsd:IDREF"/>
		<xsd:attribute name="_derived" type="xsd:IDREFS"/>
		<xsd:attribute name="_instances" type="xsd:IDREFS"/>
		<xsd:attribute name="_desynched_atts" type="xsd:string"/>
		<xsd:attribute name="_real_archetype" type="xsd:boolean"/>
		<xsd:attribute name="_subtype" type="xsd:boolean"/>
	</xsd:complexType>

	<xsd:complexType name="ComponentRefType">
		<xsd:attribute name="position" type="xsd:string"/>
		<xsd:attribute name="name" type="xsd:string"/>
		<xsd:attribute name="srcExecutionAssignment" type="xsd:IDREFS"/>
		<xsd:attribute name="srcDependency__rp_helper_rev" type="xsd:IDREFS"/>
		<xsd:attribute name="dstDependency__rp_helper_rev" type="xsd:IDREFS"/>
		<xsd:attribute name="dstComponentAssignment" type="xsd:IDREFS"/>
		<xsd:attribute name="dstExecutionAssignment__rp_helper_rev" type="xsd:IDREFS"/>
		<xsd:attribute name="srcCommMapping__rp_helper_rev" type="xsd:IDREFS"/>
		<xsd:attribute name="dstCommMapping__rp_helper_rev" type="xsd:IDREFS"/>
		<xsd:attribute name="referedbyComponentRef" type="xsd:IDREFS"/>
		<xsd:attribute name="ref" type="xsd:IDREF"/>
		<xsd:attribute name="_id" type="xsd:ID"/>
		<xsd:attribute name="_archetype" type="xsd:IDREF"/>
		<xsd:attribute name="_derived" type="xsd:IDREFS"/>
		<xsd:attribute name="_instances" type="xsd:IDREFS"/>
		<xsd:attribute name="_desynched_atts" type="xsd:string"/>
		<xsd:attribute name="_real_archetype" type="xsd:boolean"/>
		<xsd:attribute name="_subtype" type="xsd:boolean"/>
	</xsd:complexType>

	<xsd:complexType name="ExecutionAssignmentType">
		<xsd:attribute name="position" type="xsd:string"/>
		<xsd:attribute name="name" type="xsd:string"/>
		<xsd:attribute name="dstExecutionAssignment__rp_helper" type="xsd:IDREF"/>
		<xsd:attribute name="srcExecutionAssignment_end_" type="xsd:IDREF"/>
		<xsd:attribute name="dstExecutionAssignment_end_" type="xsd:IDREF"/>
		<xsd:attribute name="_id" type="xsd:ID"/>
		<xsd:attribute name="_archetype" type="xsd:IDREF"/>
		<xsd:attribute name="_derived" type="xsd:IDREFS"/>
		<xsd:attribute name="_instances" type="xsd:IDREFS"/>
		<xsd:attribute name="_desynched_atts" type="xsd:string"/>
		<xsd:attribute name="_real_archetype" type="xsd:boolean"/>
		<xsd:attribute name="_subtype" type="xsd:boolean"/>
	</xsd:complexType>

	<xsd:complexType name="TTExecInfoType">
		<xsd:attribute name="position" type="xsd:string"/>
		<xsd:attribute name="name" type="xsd:string"/>
		<xsd:attribute name="WCDuration" type="xsd:string" use="required"/>
		<xsd:attribute name="ExecPeriod" type="xsd:string" use="required"/>
		<xsd:attribute name="TTSchedule" type="xsd:string" use="required"/>
		<xsd:attribute name="dstExecutionAssignment" type="xsd:IDREFS"/>
		<xsd:attribute name="_id" type="xsd:ID"/>
		<xsd:attribute name="_archetype" type="xsd:IDREF"/>
		<xsd:attribute name="_derived" type="xsd:IDREFS"/>
		<xsd:attribute name="_instances" type="xsd:IDREFS"/>
		<xsd:attribute name="_desynched_atts" type="xsd:string"/>
		<xsd:attribute name="_real_archetype" type="xsd:boolean"/>
		<xsd:attribute name="_subtype" type="xsd:boolean"/>
	</xsd:complexType>

	<xsd:complexType name="AsyncPeriodicExecInfoType">
		<xsd:attribute name="position" type="xsd:string"/>
		<xsd:attribute name="name" type="xsd:string"/>
		<xsd:attribute name="WCDuration" type="xsd:string" use="required"/>
		<xsd:attribute name="ExecPeriod" type="xsd:string" use="required"/>
		<xsd:attribute name="dstExecutionAssignment" type="xsd:IDREFS"/>
		<xsd:attribute name="_id" type="xsd:ID"/>
		<xsd:attribute name="_archetype" type="xsd:IDREF"/>
		<xsd:attribute name="_derived" type="xsd:IDREFS"/>
		<xsd:attribute name="_instances" type="xsd:IDREFS"/>
		<xsd:attribute name="_desynched_atts" type="xsd:string"/>
		<xsd:attribute name="_real_archetype" type="xsd:boolean"/>
		<xsd:attribute name="_subtype" type="xsd:boolean"/>
	</xsd:complexType>

	<xsd:complexType name="TTExecContextType">
		<xsd:attribute name="position" type="xsd:string"/>
		<xsd:attribute name="name" type="xsd:string"/>
		<xsd:attribute name="Hyperperiod" type="xsd:string" use="required"/>
		<xsd:attribute name="_id" type="xsd:ID"/>
		<xsd:attribute name="_archetype" type="xsd:IDREF"/>
		<xsd:attribute name="_derived" type="xsd:IDREFS"/>
		<xsd:attribute name="_instances" type="xsd:IDREFS"/>
		<xsd:attribute name="_desynched_atts" type="xsd:string"/>
		<xsd:attribute name="_real_archetype" type="xsd:boolean"/>
		<xsd:attribute name="_subtype" type="xsd:boolean"/>
	</xsd:complexType>

	<xsd:complexType name="PetriNetRefType">
		<xsd:attribute name="position" type="xsd:string"/>
		<xsd:attribute name="name" type="xsd:string"/>
		<xsd:attribute name="Period" type="xsd:long" use="required"/>
		<xsd:attribute name="Deadline" type="xsd:long" use="required"/>
		<xsd:attribute name="ref" type="xsd:IDREF"/>
		<xsd:attribute name="_id" type="xsd:ID"/>
		<xsd:attribute name="_archetype" type="xsd:IDREF"/>
		<xsd:attribute name="_derived" type="xsd:IDREFS"/>
		<xsd:attribute name="_instances" type="xsd:IDREFS"/>
		<xsd:attribute name="_desynched_atts" type="xsd:string"/>
		<xsd:attribute name="_real_archetype" type="xsd:boolean"/>
		<xsd:attribute name="_subtype" type="xsd:boolean"/>
	</xsd:complexType>

	<xsd:complexType name="CInputPortType">
		<xsd:attribute name="position" type="xsd:string"/>
		<xsd:attribute name="name" type="xsd:string"/>
		<xsd:attribute name="CPortType" type="xsd:string" use="required"/>
		<xsd:attribute name="srcIOPortAssignment" type="xsd:IDREFS"/>
		<xsd:attribute name="srcConnector" type="xsd:IDREFS"/>
		<xsd:attribute name="_id" type="xsd:ID"/>
		<xsd:attribute name="_archetype" type="xsd:IDREF"/>
		<xsd:attribute name="_derived" type="xsd:IDREFS"/>
		<xsd:attribute name="_instances" type="xsd:IDREFS"/>
		<xsd:attribute name="_desynched_atts" type="xsd:string"/>
		<xsd:attribute name="_real_archetype" type="xsd:boolean"/>
		<xsd:attribute name="_subtype" type="xsd:boolean"/>
	</xsd:complexType>

	<xsd:complexType name="COutputPortType">
		<xsd:attribute name="position" type="xsd:string"/>
		<xsd:attribute name="name" type="xsd:string"/>
		<xsd:attribute name="CPortType" type="xsd:string" use="required"/>
		<xsd:attribute name="srcIOPortAssignment" type="xsd:IDREFS"/>
		<xsd:attribute name="dstConnector" type="xsd:IDREFS"/>
		<xsd:attribute name="_id" type="xsd:ID"/>
		<xsd:attribute name="_archetype" type="xsd:IDREF"/>
		<xsd:attribute name="_derived" type="xsd:IDREFS"/>
		<xsd:attribute name="_instances" type="xsd:IDREFS"/>
		<xsd:attribute name="_desynched_atts" type="xsd:string"/>
		<xsd:attribute name="_real_archetype" type="xsd:boolean"/>
		<xsd:attribute name="_subtype" type="xsd:boolean"/>
	</xsd:complexType>

	<xsd:complexType name="SubsystemRefType">
		<xsd:attribute name="position" type="xsd:string"/>
		<xsd:attribute name="name" type="xsd:string"/>
		<xsd:attribute name="Period" type="xsd:long" use="required"/>
		<xsd:attribute name="Deadline" type="xsd:long" use="required"/>
		<xsd:attribute name="ref" type="xsd:IDREF"/>
		<xsd:attribute name="_id" type="xsd:ID"/>
		<xsd:attribute name="_archetype" type="xsd:IDREF"/>
		<xsd:attribute name="_derived" type="xsd:IDREFS"/>
		<xsd:attribute name="_instances" type="xsd:IDREFS"/>
		<xsd:attribute name="_desynched_atts" type="xsd:string"/>
		<xsd:attribute name="_real_archetype" type="xsd:boolean"/>
		<xsd:attribute name="_subtype" type="xsd:boolean"/>
	</xsd:complexType>

	<xsd:complexType name="CCodeType">
		<xsd:sequence>
			<xsd:element name="CInputPort" type="ESMoL:CInputPortType" minOccurs="0" maxOccurs="unbounded"/>
			<xsd:element name="COutputPort" type="ESMoL:COutputPortType" minOccurs="0" maxOccurs="unbounded"/>
		</xsd:sequence>
		<xsd:attribute name="position" type="xsd:string"/>
		<xsd:attribute name="name" type="xsd:string"/>
		<xsd:attribute name="Period" type="xsd:long" use="required"/>
		<xsd:attribute name="Deadline" type="xsd:long" use="required"/>
		<xsd:attribute name="CodeInfo" type="xsd:string" use="required"/>
		<xsd:attribute name="_id" type="xsd:ID"/>
		<xsd:attribute name="_archetype" type="xsd:IDREF"/>
		<xsd:attribute name="_derived" type="xsd:IDREFS"/>
		<xsd:attribute name="_instances" type="xsd:IDREFS"/>
		<xsd:attribute name="_desynched_atts" type="xsd:string"/>
		<xsd:attribute name="_real_archetype" type="xsd:boolean"/>
		<xsd:attribute name="_subtype" type="xsd:boolean"/>
	</xsd:complexType>

	<xsd:complexType name="OldTaskType">
		<xsd:sequence>
			<xsd:element name="OldTask" type="ESMoL:OldTaskType" minOccurs="0" maxOccurs="unbounded"/>
		</xsd:sequence>
		<xsd:attribute name="position" type="xsd:string"/>
		<xsd:attribute name="name" type="xsd:string"/>
		<xsd:attribute name="Cyclic" type="xsd:boolean" default="false"/>
		<xsd:attribute name="CycleTime" type="xsd:long" use="required"/>
		<xsd:attribute name="Preemption" type="xsd:string" default="FULL"/>
		<xsd:attribute name="AutoStart" type="xsd:boolean" default="true"/>
		<xsd:attribute name="Activation" type="xsd:long" default="1"/>
		<xsd:attribute name="TaskType" type="xsd:string" default="AUTO"/>
		<xsd:attribute name="Priority" type="xsd:long" use="required"/>
		<xsd:attribute name="_id" type="xsd:ID"/>
		<xsd:attribute name="_archetype" type="xsd:IDREF"/>
		<xsd:attribute name="_derived" type="xsd:IDREFS"/>
		<xsd:attribute name="_instances" type="xsd:IDREFS"/>
		<xsd:attribute name="_desynched_atts" type="xsd:string"/>
		<xsd:attribute name="_real_archetype" type="xsd:boolean"/>
		<xsd:attribute name="_subtype" type="xsd:boolean"/>
		<xsd:attribute name="_libname" type="xsd:string"/>
	</xsd:complexType>

	<xsd:complexType name="IOPortInfoType">
		<xsd:sequence>
			<xsd:element name="IOPortInfo" type="ESMoL:IOPortInfoType" minOccurs="0" maxOccurs="unbounded"/>
		</xsd:sequence>
		<xsd:attribute name="position" type="xsd:string"/>
		<xsd:attribute name="name" type="xsd:string"/>
		<xsd:attribute name="Scale" type="xsd:string" use="required"/>
		<xsd:attribute name="Offset" type="xsd:string" use="required"/>
		<xsd:attribute name="DataMax" type="xsd:string" use="required"/>
		<xsd:attribute name="DataMin" type="xsd:string" use="required"/>
		<xsd:attribute name="DataInit" type="xsd:string" use="required"/>
		<xsd:attribute name="DataSize" type="xsd:string" use="required"/>
		<xsd:attribute name="dstIOPortAssignment" type="xsd:IDREFS"/>
		<xsd:attribute name="referedbyIOPortInfoRef" type="xsd:IDREFS"/>
		<xsd:attribute name="_id" type="xsd:ID"/>
		<xsd:attribute name="_archetype" type="xsd:IDREF"/>
		<xsd:attribute name="_derived" type="xsd:IDREFS"/>
		<xsd:attribute name="_instances" type="xsd:IDREFS"/>
		<xsd:attribute name="_desynched_atts" type="xsd:string"/>
		<xsd:attribute name="_real_archetype" type="xsd:boolean"/>
		<xsd:attribute name="_subtype" type="xsd:boolean"/>
		<xsd:attribute name="_libname" type="xsd:string"/>
	</xsd:complexType>

	<xsd:complexType name="IOPortInfoRefType">
		<xsd:sequence>
			<xsd:element name="IOPortInfoRef" type="ESMoL:IOPortInfoRefType" minOccurs="0" maxOccurs="unbounded"/>
		</xsd:sequence>
		<xsd:attribute name="position" type="xsd:string"/>
		<xsd:attribute name="name" type="xsd:string"/>
		<xsd:attribute name="dstIOPortAssignment" type="xsd:IDREFS"/>
		<xsd:attribute name="ref" type="xsd:IDREF"/>
		<xsd:attribute name="_id" type="xsd:ID"/>
		<xsd:attribute name="_archetype" type="xsd:IDREF"/>
		<xsd:attribute name="_derived" type="xsd:IDREFS"/>
		<xsd:attribute name="_instances" type="xsd:IDREFS"/>
		<xsd:attribute name="_desynched_atts" type="xsd:string"/>
		<xsd:attribute name="_real_archetype" type="xsd:boolean"/>
		<xsd:attribute name="_subtype" type="xsd:boolean"/>
		<xsd:attribute name="_libname" type="xsd:string"/>
	</xsd:complexType>

	<xsd:complexType name="IOPortAssignmentType">
		<xsd:sequence>
			<xsd:element name="IOPortAssignment" type="ESMoL:IOPortAssignmentType" minOccurs="0" maxOccurs="unbounded"/>
		</xsd:sequence>
		<xsd:attribute name="position" type="xsd:string"/>
		<xsd:attribute name="name" type="xsd:string"/>
		<xsd:attribute name="srcIOPortAssignment_end_" type="xsd:IDREF"/>
		<xsd:attribute name="dstIOPortAssignment_end_" type="xsd:IDREF"/>
		<xsd:attribute name="_id" type="xsd:ID"/>
		<xsd:attribute name="_archetype" type="xsd:IDREF"/>
		<xsd:attribute name="_derived" type="xsd:IDREFS"/>
		<xsd:attribute name="_instances" type="xsd:IDREFS"/>
		<xsd:attribute name="_desynched_atts" type="xsd:string"/>
		<xsd:attribute name="_real_archetype" type="xsd:boolean"/>
		<xsd:attribute name="_subtype" type="xsd:boolean"/>
		<xsd:attribute name="_libname" type="xsd:string"/>
	</xsd:complexType>

	<xsd:complexType name="TriggerType">
		<xsd:attribute name="position" type="xsd:string"/>
		<xsd:attribute name="name" type="xsd:string"/>
		<xsd:attribute name="srcTrigger_end_" type="xsd:IDREF"/>
		<xsd:attribute name="dstTrigger_end_" type="xsd:IDREF"/>
		<xsd:attribute name="_id" type="xsd:ID"/>
		<xsd:attribute name="_archetype" type="xsd:IDREF"/>
		<xsd:attribute name="_derived" type="xsd:IDREFS"/>
		<xsd:attribute name="_instances" type="xsd:IDREFS"/>
		<xsd:attribute name="_desynched_atts" type="xsd:string"/>
		<xsd:attribute name="_real_archetype" type="xsd:boolean"/>
		<xsd:attribute name="_subtype" type="xsd:boolean"/>
	</xsd:complexType>

	<xsd:complexType name="PNPortType">
		<xsd:sequence>
			<xsd:element name="PNVarRef" type="ESMoL:PNVarRefType" minOccurs="0" maxOccurs="unbounded"/>
		</xsd:sequence>
		<xsd:attribute name="position" type="xsd:string"/>
		<xsd:attribute name="name" type="xsd:string"/>
		<xsd:attribute name="visible" type="xsd:boolean" default="false"/>
		<xsd:attribute name="srcTrigger" type="xsd:IDREFS"/>
		<xsd:attribute name="dstTrigger" type="xsd:IDREFS"/>
		<xsd:attribute name="srcPortToPort" type="xsd:IDREFS"/>
		<xsd:attribute name="dstPortToPort" type="xsd:IDREFS"/>
		<xsd:attribute name="_id" type="xsd:ID"/>
		<xsd:attribute name="_archetype" type="xsd:IDREF"/>
		<xsd:attribute name="_derived" type="xsd:IDREFS"/>
		<xsd:attribute name="_instances" type="xsd:IDREFS"/>
		<xsd:attribute name="_desynched_atts" type="xsd:string"/>
		<xsd:attribute name="_real_archetype" type="xsd:boolean"/>
		<xsd:attribute name="_subtype" type="xsd:boolean"/>
	</xsd:complexType>

	<xsd:complexType name="MsgPortType">
		<xsd:attribute name="position" type="xsd:string"/>
		<xsd:attribute name="name" type="xsd:string"/>
		<xsd:attribute name="MsgPortNum" type="xsd:long" default="-1"/>
		<xsd:attribute name="srcIOPortAssignment" type="xsd:IDREFS"/>
		<xsd:attribute name="srcConnector" type="xsd:IDREFS"/>
		<xsd:attribute name="dstConnector" type="xsd:IDREFS"/>
		<xsd:attribute name="_id" type="xsd:ID"/>
		<xsd:attribute name="_archetype" type="xsd:IDREF"/>
		<xsd:attribute name="_derived" type="xsd:IDREFS"/>
		<xsd:attribute name="_instances" type="xsd:IDREFS"/>
		<xsd:attribute name="_desynched_atts" type="xsd:string"/>
		<xsd:attribute name="_real_archetype" type="xsd:boolean"/>
		<xsd:attribute name="_subtype" type="xsd:boolean"/>
	</xsd:complexType>

	<xsd:complexType name="InputPortType">
		<xsd:sequence>
			<xsd:element name="TypeBaseRef" type="ESMoL:TypeBaseRefType" minOccurs="0"/>
		</xsd:sequence>
		<xsd:attribute name="position" type="xsd:string"/>
		<xsd:attribute name="name" type="xsd:string"/>
		<xsd:attribute name="Number" type="xsd:long" use="required"/>
		<xsd:attribute name="srcIOPortAssignment" type="xsd:IDREFS"/>
		<xsd:attribute name="srcConnector" type="xsd:IDREFS"/>
		<xsd:attribute name="srcLine" type="xsd:IDREFS"/>
		<xsd:attribute name="dstLine" type="xsd:IDREFS"/>
		<xsd:attribute name="_id" type="xsd:ID"/>
		<xsd:attribute name="_archetype" type="xsd:IDREF"/>
		<xsd:attribute name="_derived" type="xsd:IDREFS"/>
		<xsd:attribute name="_instances" type="xsd:IDREFS"/>
		<xsd:attribute name="_desynched_atts" type="xsd:string"/>
		<xsd:attribute name="_real_archetype" type="xsd:boolean"/>
		<xsd:attribute name="_subtype" type="xsd:boolean"/>
	</xsd:complexType>

	<xsd:complexType name="PNVariableType">
		<xsd:attribute name="position" type="xsd:string"/>
		<xsd:attribute name="name" type="xsd:string"/>
		<xsd:attribute name="datatype" type="xsd:string" use="required"/>
		<xsd:attribute name="srcIOPortAssignment" type="xsd:IDREFS"/>
		<xsd:attribute name="srcConnector" type="xsd:IDREFS"/>
		<xsd:attribute name="dstConnector" type="xsd:IDREFS"/>
		<xsd:attribute name="referedbyPNVarRef" type="xsd:IDREFS"/>
		<xsd:attribute name="_id" type="xsd:ID"/>
		<xsd:attribute name="_archetype" type="xsd:IDREF"/>
		<xsd:attribute name="_derived" type="xsd:IDREFS"/>
		<xsd:attribute name="_instances" type="xsd:IDREFS"/>
		<xsd:attribute name="_desynched_atts" type="xsd:string"/>
		<xsd:attribute name="_real_archetype" type="xsd:boolean"/>
		<xsd:attribute name="_subtype" type="xsd:boolean"/>
	</xsd:complexType>

	<xsd:complexType name="OutputPortType">
		<xsd:sequence>
			<xsd:element name="TypeBaseRef" type="ESMoL:TypeBaseRefType" minOccurs="0"/>
		</xsd:sequence>
		<xsd:attribute name="position" type="xsd:string"/>
		<xsd:attribute name="name" type="xsd:string"/>
		<xsd:attribute name="Number" type="xsd:long" use="required"/>
		<xsd:attribute name="srcIOPortAssignment" type="xsd:IDREFS"/>
		<xsd:attribute name="dstConnector" type="xsd:IDREFS"/>
		<xsd:attribute name="srcLine" type="xsd:IDREFS"/>
		<xsd:attribute name="dstLine" type="xsd:IDREFS"/>
		<xsd:attribute name="_id" type="xsd:ID"/>
		<xsd:attribute name="_archetype" type="xsd:IDREF"/>
		<xsd:attribute name="_derived" type="xsd:IDREFS"/>
		<xsd:attribute name="_instances" type="xsd:IDREFS"/>
		<xsd:attribute name="_desynched_atts" type="xsd:string"/>
		<xsd:attribute name="_real_archetype" type="xsd:boolean"/>
		<xsd:attribute name="_subtype" type="xsd:boolean"/>
	</xsd:complexType>

	<xsd:complexType name="MessageType">
		<xsd:sequence>
			<xsd:element name="MsgPort" type="ESMoL:MsgPortType" minOccurs="0" maxOccurs="unbounded"/>
		</xsd:sequence>
		<xsd:attribute name="position" type="xsd:string"/>
		<xsd:attribute name="name" type="xsd:string"/>
		<xsd:attribute name="MsgSize" type="xsd:string" default="1B"/>
		<xsd:attribute name="MsgMetaData" type="xsd:string" use="required"/>
		<xsd:attribute name="referedbyBusMessageRef" type="xsd:IDREFS"/>
		<xsd:attribute name="_id" type="xsd:ID"/>
		<xsd:attribute name="_archetype" type="xsd:IDREF"/>
		<xsd:attribute name="_derived" type="xsd:IDREFS"/>
		<xsd:attribute name="_instances" type="xsd:IDREFS"/>
		<xsd:attribute name="_desynched_atts" type="xsd:string"/>
		<xsd:attribute name="_real_archetype" type="xsd:boolean"/>
		<xsd:attribute name="_subtype" type="xsd:boolean"/>
	</xsd:complexType>

	<xsd:complexType name="SubsystemType">
		<xsd:sequence>
			<xsd:element name="ActionPort" type="ESMoL:ActionPortType" minOccurs="0" maxOccurs="unbounded"/>
			<xsd:element name="Annotation" type="ESMoL:AnnotationType" minOccurs="0" maxOccurs="unbounded"/>
			<xsd:element name="ConnectorRef" type="ESMoL:ConnectorRefType" minOccurs="0" maxOccurs="unbounded"/>
			<xsd:element name="EnablePort" type="ESMoL:EnablePortType" minOccurs="0" maxOccurs="unbounded"/>
			<xsd:element name="InputPort" type="ESMoL:InputPortType" minOccurs="0" maxOccurs="unbounded"/>
			<xsd:element name="Line" type="ESMoL:LineType" minOccurs="0" maxOccurs="unbounded"/>
			<xsd:element name="OutputPort" type="ESMoL:OutputPortType" minOccurs="0" maxOccurs="unbounded"/>
			<xsd:element name="Parameter" type="ESMoL:ParameterType" minOccurs="0" maxOccurs="unbounded"/>
			<xsd:element name="Primitive" type="ESMoL:PrimitiveType" minOccurs="0" maxOccurs="unbounded"/>
			<xsd:element name="Reference" type="ESMoL:ReferenceType" minOccurs="0" maxOccurs="unbounded"/>
			<xsd:element name="StatePort" type="ESMoL:StatePortType" minOccurs="0" maxOccurs="unbounded"/>
			<xsd:element name="Subsystem" type="ESMoL:SubsystemType" minOccurs="0" maxOccurs="unbounded"/>
			<xsd:element name="TriggerPort" type="ESMoL:TriggerPortType" minOccurs="0" maxOccurs="unbounded"/>
		</xsd:sequence>
		<xsd:attribute name="position" type="xsd:string"/>
		<xsd:attribute name="name" type="xsd:string"/>
		<xsd:attribute name="Period" type="xsd:long" use="required"/>
		<xsd:attribute name="Deadline" type="xsd:long" use="required"/>
		<xsd:attribute name="SampleTime" type="xsd:double" use="required"/>
		<xsd:attribute name="UserData" type="xsd:string" use="required"/>
		<xsd:attribute name="Priority" type="xsd:long" use="required"/>
		<xsd:attribute name="Description" type="xsd:string" use="required"/>
		<xsd:attribute name="Name" type="xsd:string" use="required"/>
		<xsd:attribute name="Tag" type="xsd:string" use="required"/>
		<xsd:attribute name="BlockType" type="xsd:string" use="required"/>
		<xsd:attribute name="referedbySubsystemRef" type="xsd:IDREFS"/>
		<xsd:attribute name="_id" type="xsd:ID"/>
		<xsd:attribute name="_archetype" type="xsd:IDREF"/>
		<xsd:attribute name="_derived" type="xsd:IDREFS"/>
		<xsd:attribute name="_instances" type="xsd:IDREFS"/>
		<xsd:attribute name="_desynched_atts" type="xsd:string"/>
		<xsd:attribute name="_real_archetype" type="xsd:boolean"/>
		<xsd:attribute name="_subtype" type="xsd:boolean"/>
	</xsd:complexType>

	<xsd:complexType name="PetriNetType">
		<xsd:sequence>
			<xsd:element name="PNPort" type="ESMoL:PNPortType" minOccurs="0" maxOccurs="unbounded"/>
			<xsd:element name="PNState" type="ESMoL:PNStateType" minOccurs="0" maxOccurs="unbounded"/>
			<xsd:element name="PNTransition" type="ESMoL:PNTransitionType" minOccurs="0" maxOccurs="unbounded"/>
			<xsd:element name="PNVariable" type="ESMoL:PNVariableType" minOccurs="0" maxOccurs="unbounded"/>
			<xsd:element name="StateToTransition" type="ESMoL:StateToTransitionType" minOccurs="0" maxOccurs="unbounded"/>
			<xsd:element name="TransitionToState" type="ESMoL:TransitionToStateType" minOccurs="0" maxOccurs="unbounded"/>
		</xsd:sequence>
		<xsd:attribute name="position" type="xsd:string"/>
		<xsd:attribute name="name" type="xsd:string"/>
		<xsd:attribute name="Period" type="xsd:long" use="required"/>
		<xsd:attribute name="Deadline" type="xsd:long" use="required"/>
		<xsd:attribute name="action" type="xsd:string" use="required"/>
		<xsd:attribute name="referedbyPetriNetRef" type="xsd:IDREFS"/>
		<xsd:attribute name="_id" type="xsd:ID"/>
		<xsd:attribute name="_archetype" type="xsd:IDREF"/>
		<xsd:attribute name="_derived" type="xsd:IDREFS"/>
		<xsd:attribute name="_instances" type="xsd:IDREFS"/>
		<xsd:attribute name="_desynched_atts" type="xsd:string"/>
		<xsd:attribute name="_real_archetype" type="xsd:boolean"/>
		<xsd:attribute name="_subtype" type="xsd:boolean"/>
	</xsd:complexType>

	<xsd:complexType name="ConnectorType">
		<xsd:attribute name="position" type="xsd:string"/>
		<xsd:attribute name="name" type="xsd:string"/>
		<xsd:attribute name="ConnectionType" type="xsd:string" use="required"/>
		<xsd:attribute name="srcConnector__rp_helper" type="xsd:IDREF"/>
		<xsd:attribute name="dstConnector__rp_helper" type="xsd:IDREF"/>
		<xsd:attribute name="srcConnector_end_" type="xsd:IDREF"/>
		<xsd:attribute name="dstConnector_end_" type="xsd:IDREF"/>
		<xsd:attribute name="_id" type="xsd:ID"/>
		<xsd:attribute name="_archetype" type="xsd:IDREF"/>
		<xsd:attribute name="_derived" type="xsd:IDREFS"/>
		<xsd:attribute name="_instances" type="xsd:IDREFS"/>
		<xsd:attribute name="_desynched_atts" type="xsd:string"/>
		<xsd:attribute name="_real_archetype" type="xsd:boolean"/>
		<xsd:attribute name="_subtype" type="xsd:boolean"/>
	</xsd:complexType>

	<xsd:complexType name="SystemTypesType">
		<xsd:sequence>
			<xsd:element name="Component" type="ESMoL:ComponentType" minOccurs="0" maxOccurs="unbounded"/>
			<xsd:element name="Message" type="ESMoL:MessageType" minOccurs="0" maxOccurs="unbounded"/>
		</xsd:sequence>
		<xsd:attribute name="position" type="xsd:string"/>
		<xsd:attribute name="name" type="xsd:string"/>
		<xsd:attribute name="_id" type="xsd:ID"/>
		<xsd:attribute name="_archetype" type="xsd:IDREF"/>
		<xsd:attribute name="_derived" type="xsd:IDREFS"/>
		<xsd:attribute name="_instances" type="xsd:IDREFS"/>
		<xsd:attribute name="_desynched_atts" type="xsd:string"/>
		<xsd:attribute name="_real_archetype" type="xsd:boolean"/>
		<xsd:attribute name="_subtype" type="xsd:boolean"/>
	</xsd:complexType>

	<xsd:complexType name="ComponentType">
		<xsd:sequence>
			<xsd:element name="CCode" type="ESMoL:CCodeType" minOccurs="0" maxOccurs="unbounded"/>
			<xsd:element name="Connector" type="ESMoL:ConnectorType" minOccurs="0" maxOccurs="unbounded"/>
			<xsd:element name="MessageRef" type="ESMoL:MessageRefType" minOccurs="0" maxOccurs="unbounded"/>
			<xsd:element name="PetriNet" type="ESMoL:PetriNetType" minOccurs="0" maxOccurs="unbounded"/>
			<xsd:element name="PetriNetRef" type="ESMoL:PetriNetRefType" minOccurs="0" maxOccurs="unbounded"/>
			<xsd:element name="Subsystem" type="ESMoL:SubsystemType" minOccurs="0" maxOccurs="unbounded"/>
			<xsd:element name="SubsystemRef" type="ESMoL:SubsystemRefType" minOccurs="0" maxOccurs="unbounded"/>
			<xsd:element name="Trigger" type="ESMoL:TriggerType" minOccurs="0" maxOccurs="unbounded"/>
		</xsd:sequence>
		<xsd:attribute name="position" type="xsd:string"/>
		<xsd:attribute name="name" type="xsd:string"/>
		<xsd:attribute name="HeaderFiles" type="xsd:string" use="required"/>
		<xsd:attribute name="SourceFiles" type="xsd:string" use="required"/>
		<xsd:attribute name="referedbyTaskRef" type="xsd:IDREFS"/>
		<xsd:attribute name="referedbyComponentRef" type="xsd:IDREFS"/>
		<xsd:attribute name="_id" type="xsd:ID"/>
		<xsd:attribute name="_archetype" type="xsd:IDREF"/>
		<xsd:attribute name="_derived" type="xsd:IDREFS"/>
		<xsd:attribute name="_instances" type="xsd:IDREFS"/>
		<xsd:attribute name="_desynched_atts" type="xsd:string"/>
		<xsd:attribute name="_real_archetype" type="xsd:boolean"/>
		<xsd:attribute name="_subtype" type="xsd:boolean"/>
	</xsd:complexType>

	<xsd:complexType name="TaskRefType">
		<xsd:attribute name="position" type="xsd:string"/>
		<xsd:attribute name="name" type="xsd:string"/>
		<xsd:attribute name="srcTimingConstraint" type="xsd:IDREFS"/>
		<xsd:attribute name="dstTimingConstraint" type="xsd:IDREFS"/>
		<xsd:attribute name="ref" type="xsd:IDREF"/>
		<xsd:attribute name="_id" type="xsd:ID"/>
		<xsd:attribute name="_archetype" type="xsd:IDREF"/>
		<xsd:attribute name="_derived" type="xsd:IDREFS"/>
		<xsd:attribute name="_instances" type="xsd:IDREFS"/>
		<xsd:attribute name="_desynched_atts" type="xsd:string"/>
		<xsd:attribute name="_real_archetype" type="xsd:boolean"/>
		<xsd:attribute name="_subtype" type="xsd:boolean"/>
	</xsd:complexType>

	<xsd:complexType name="TimingSheetType">
		<xsd:sequence>
			<xsd:element name="TaskRef" type="ESMoL:TaskRefType" minOccurs="0" maxOccurs="unbounded"/>
			<xsd:element name="TimingConstraint" type="ESMoL:TimingConstraintType" minOccurs="0" maxOccurs="unbounded"/>
		</xsd:sequence>
		<xsd:attribute name="position" type="xsd:string"/>
		<xsd:attribute name="name" type="xsd:string"/>
		<xsd:attribute name="_id" type="xsd:ID"/>
		<xsd:attribute name="_archetype" type="xsd:IDREF"/>
		<xsd:attribute name="_derived" type="xsd:IDREFS"/>
		<xsd:attribute name="_instances" type="xsd:IDREFS"/>
		<xsd:attribute name="_desynched_atts" type="xsd:string"/>
		<xsd:attribute name="_real_archetype" type="xsd:boolean"/>
		<xsd:attribute name="_subtype" type="xsd:boolean"/>
	</xsd:complexType>

	<xsd:complexType name="TimingConstraintType">
		<xsd:attribute name="position" type="xsd:string"/>
		<xsd:attribute name="name" type="xsd:string"/>
		<xsd:attribute name="Latency" type="xsd:string" default="1s"/>
		<xsd:attribute name="srcTimingConstraint_end_" type="xsd:IDREF"/>
		<xsd:attribute name="dstTimingConstraint_end_" type="xsd:IDREF"/>
		<xsd:attribute name="_id" type="xsd:ID"/>
		<xsd:attribute name="_archetype" type="xsd:IDREF"/>
		<xsd:attribute name="_derived" type="xsd:IDREFS"/>
		<xsd:attribute name="_instances" type="xsd:IDREFS"/>
		<xsd:attribute name="_desynched_atts" type="xsd:string"/>
		<xsd:attribute name="_real_archetype" type="xsd:boolean"/>
		<xsd:attribute name="_subtype" type="xsd:boolean"/>
	</xsd:complexType>

	<xsd:complexType name="MatrixType">
		<xsd:attribute name="position" type="xsd:string"/>
		<xsd:attribute name="name" type="xsd:string"/>
		<xsd:attribute name="rows" type="xsd:long" use="required"/>
		<xsd:attribute name="columns" type="xsd:long" use="required"/>
		<xsd:attribute name="Type" type="xsd:string" use="required"/>
		<xsd:attribute name="referedbyTypeStructRef" type="xsd:IDREFS"/>
		<xsd:attribute name="_id" type="xsd:ID"/>
		<xsd:attribute name="_archetype" type="xsd:IDREF"/>
		<xsd:attribute name="_derived" type="xsd:IDREFS"/>
		<xsd:attribute name="_instances" type="xsd:IDREFS"/>
		<xsd:attribute name="_desynched_atts" type="xsd:string"/>
		<xsd:attribute name="_real_archetype" type="xsd:boolean"/>
		<xsd:attribute name="_subtype" type="xsd:boolean"/>
	</xsd:complexType>

	<xsd:complexType name="TypeStructType">
		<xsd:sequence>
			<xsd:element name="TypeBaseRef" type="ESMoL:TypeBaseRefType" minOccurs="0" maxOccurs="unbounded"/>
		</xsd:sequence>
		<xsd:attribute name="position" type="xsd:string"/>
		<xsd:attribute name="name" type="xsd:string"/>
		<xsd:attribute name="MemberCount" type="xsd:long" use="required"/>
		<xsd:attribute name="referedbyTypeStructRef" type="xsd:IDREFS"/>
		<xsd:attribute name="_id" type="xsd:ID"/>
		<xsd:attribute name="_archetype" type="xsd:IDREF"/>
		<xsd:attribute name="_derived" type="xsd:IDREFS"/>
		<xsd:attribute name="_instances" type="xsd:IDREFS"/>
		<xsd:attribute name="_desynched_atts" type="xsd:string"/>
		<xsd:attribute name="_real_archetype" type="xsd:boolean"/>
		<xsd:attribute name="_subtype" type="xsd:boolean"/>
	</xsd:complexType>

	<xsd:complexType name="TypeBaseRefType">
		<xsd:attribute name="position" type="xsd:string"/>
		<xsd:attribute name="name" type="xsd:string"/>
		<xsd:attribute name="MemberIndex" type="xsd:long" use="required"/>
		<xsd:attribute name="ref" type="xsd:IDREF"/>
		<xsd:attribute name="_id" type="xsd:ID"/>
		<xsd:attribute name="_archetype" type="xsd:IDREF"/>
		<xsd:attribute name="_derived" type="xsd:IDREFS"/>
		<xsd:attribute name="_instances" type="xsd:IDREFS"/>
		<xsd:attribute name="_desynched_atts" type="xsd:string"/>
		<xsd:attribute name="_real_archetype" type="xsd:boolean"/>
		<xsd:attribute name="_subtype" type="xsd:boolean"/>
	</xsd:complexType>

	<xsd:complexType name="ComponentAssignmentType">
		<xsd:attribute name="position" type="xsd:string"/>
		<xsd:attribute name="name" type="xsd:string"/>
		<xsd:attribute name="srcComponentAssignment_end_" type="xsd:IDREF"/>
		<xsd:attribute name="dstComponentAssignment_end_" type="xsd:IDREF"/>
		<xsd:attribute name="_id" type="xsd:ID"/>
		<xsd:attribute name="_archetype" type="xsd:IDREF"/>
		<xsd:attribute name="_derived" type="xsd:IDREFS"/>
		<xsd:attribute name="_instances" type="xsd:IDREFS"/>
		<xsd:attribute name="_desynched_atts" type="xsd:string"/>
		<xsd:attribute name="_real_archetype" type="xsd:boolean"/>
		<xsd:attribute name="_subtype" type="xsd:boolean"/>
	</xsd:complexType>

	<xsd:complexType name="DependencyType">
		<xsd:attribute name="position" type="xsd:string"/>
		<xsd:attribute name="name" type="xsd:string"/>
		<xsd:attribute name="srcDependency__rp_helper" type="xsd:IDREF"/>
		<xsd:attribute name="dstDependency__rp_helper" type="xsd:IDREF"/>
		<xsd:attribute name="srcDependency_end_" type="xsd:IDREF"/>
		<xsd:attribute name="dstDependency_end_" type="xsd:IDREF"/>
		<xsd:attribute name="_id" type="xsd:ID"/>
		<xsd:attribute name="_archetype" type="xsd:IDREF"/>
		<xsd:attribute name="_derived" type="xsd:IDREFS"/>
		<xsd:attribute name="_instances" type="xsd:IDREFS"/>
		<xsd:attribute name="_desynched_atts" type="xsd:string"/>
		<xsd:attribute name="_real_archetype" type="xsd:boolean"/>
		<xsd:attribute name="_subtype" type="xsd:boolean"/>
	</xsd:complexType>

	<xsd:complexType name="CommMappingType">
		<xsd:attribute name="position" type="xsd:string"/>
		<xsd:attribute name="name" type="xsd:string"/>
		<xsd:attribute name="srcCommMapping__rp_helper" type="xsd:IDREF"/>
		<xsd:attribute name="dstCommMapping__rp_helper" type="xsd:IDREF"/>
		<xsd:attribute name="srcCommMapping_end_" type="xsd:IDREF"/>
		<xsd:attribute name="dstCommMapping_end_" type="xsd:IDREF"/>
		<xsd:attribute name="_id" type="xsd:ID"/>
		<xsd:attribute name="_archetype" type="xsd:IDREF"/>
		<xsd:attribute name="_derived" type="xsd:IDREFS"/>
		<xsd:attribute name="_instances" type="xsd:IDREFS"/>
		<xsd:attribute name="_desynched_atts" type="xsd:string"/>
		<xsd:attribute name="_real_archetype" type="xsd:boolean"/>
		<xsd:attribute name="_subtype" type="xsd:boolean"/>
	</xsd:complexType>

	<xsd:complexType name="NodeRefType">
		<xsd:attribute name="position" type="xsd:string"/>
		<xsd:attribute name="name" type="xsd:string"/>
		<xsd:attribute name="srcComponentAssignment" type="xsd:IDREFS"/>
		<xsd:attribute name="ref" type="xsd:IDREF"/>
		<xsd:attribute name="dstExecutionAssignment__rp_helper_rev" type="xsd:IDREFS"/>
		<xsd:attribute name="srcCommMapping__rp_helper_rev" type="xsd:IDREFS"/>
		<xsd:attribute name="dstCommMapping__rp_helper_rev" type="xsd:IDREFS"/>
		<xsd:attribute name="_id" type="xsd:ID"/>
		<xsd:attribute name="_archetype" type="xsd:IDREF"/>
		<xsd:attribute name="_derived" type="xsd:IDREFS"/>
		<xsd:attribute name="_instances" type="xsd:IDREFS"/>
		<xsd:attribute name="_desynched_atts" type="xsd:string"/>
		<xsd:attribute name="_real_archetype" type="xsd:boolean"/>
		<xsd:attribute name="_subtype" type="xsd:boolean"/>
	</xsd:complexType>

	<xsd:complexType name="SystemType">
		<xsd:sequence>
			<xsd:element name="AsyncPeriodicExecInfo" type="ESMoL:AsyncPeriodicExecInfoType" minOccurs="0" maxOccurs="unbounded"/>
			<xsd:element name="CommMapping" type="ESMoL:CommMappingType" minOccurs="0" maxOccurs="unbounded"/>
			<xsd:element name="ComponentAssignment" type="ESMoL:ComponentAssignmentType" minOccurs="0" maxOccurs="unbounded"/>
			<xsd:element name="ComponentRef" type="ESMoL:ComponentRefType" minOccurs="0" maxOccurs="unbounded"/>
			<xsd:element name="Dependency" type="ESMoL:DependencyType" minOccurs="0" maxOccurs="unbounded"/>
			<xsd:element name="ExecutionAssignment" type="ESMoL:ExecutionAssignmentType" minOccurs="0" maxOccurs="unbounded"/>
			<xsd:element name="NodeRef" type="ESMoL:NodeRefType" minOccurs="0" maxOccurs="unbounded"/>
			<xsd:element name="SporadicExecInfo" type="ESMoL:SporadicExecInfoType" minOccurs="0" maxOccurs="unbounded"/>
			<xsd:element name="TTExecInfo" type="ESMoL:TTExecInfoType" minOccurs="0" maxOccurs="unbounded"/>
		</xsd:sequence>
		<xsd:attribute name="position" type="xsd:string"/>
		<xsd:attribute name="name" type="xsd:string"/>
		<xsd:attribute name="referedbyCPSystem" type="xsd:IDREFS"/>
		<xsd:attribute name="_id" type="xsd:ID"/>
		<xsd:attribute name="_archetype" type="xsd:IDREF"/>
		<xsd:attribute name="_derived" type="xsd:IDREFS"/>
		<xsd:attribute name="_instances" type="xsd:IDREFS"/>
		<xsd:attribute name="_desynched_atts" type="xsd:string"/>
		<xsd:attribute name="_real_archetype" type="xsd:boolean"/>
		<xsd:attribute name="_subtype" type="xsd:boolean"/>
	</xsd:complexType>

	<xsd:complexType name="ActionPortType">
		<xsd:sequence>
			<xsd:element name="TypeBaseRef" type="ESMoL:TypeBaseRefType" minOccurs="0"/>
		</xsd:sequence>
		<xsd:attribute name="position" type="xsd:string"/>
		<xsd:attribute name="name" type="xsd:string"/>
		<xsd:attribute name="srcLine" type="xsd:IDREFS"/>
		<xsd:attribute name="dstLine" type="xsd:IDREFS"/>
		<xsd:attribute name="_id" type="xsd:ID"/>
		<xsd:attribute name="_archetype" type="xsd:IDREF"/>
		<xsd:attribute name="_derived" type="xsd:IDREFS"/>
		<xsd:attribute name="_instances" type="xsd:IDREFS"/>
		<xsd:attribute name="_desynched_atts" type="xsd:string"/>
		<xsd:attribute name="_real_archetype" type="xsd:boolean"/>
		<xsd:attribute name="_subtype" type="xsd:boolean"/>
	</xsd:complexType>

	<xsd:complexType name="EnablePortType">
		<xsd:sequence>
			<xsd:element name="TypeBaseRef" type="ESMoL:TypeBaseRefType" minOccurs="0"/>
		</xsd:sequence>
		<xsd:attribute name="position" type="xsd:string"/>
		<xsd:attribute name="name" type="xsd:string"/>
		<xsd:attribute name="StatesWhenEnabling" type="xsd:string" default="held"/>
		<xsd:attribute name="srcLine" type="xsd:IDREFS"/>
		<xsd:attribute name="dstLine" type="xsd:IDREFS"/>
		<xsd:attribute name="_id" type="xsd:ID"/>
		<xsd:attribute name="_archetype" type="xsd:IDREF"/>
		<xsd:attribute name="_derived" type="xsd:IDREFS"/>
		<xsd:attribute name="_instances" type="xsd:IDREFS"/>
		<xsd:attribute name="_desynched_atts" type="xsd:string"/>
		<xsd:attribute name="_real_archetype" type="xsd:boolean"/>
		<xsd:attribute name="_subtype" type="xsd:boolean"/>
	</xsd:complexType>

	<xsd:complexType name="TriggerPortType">
		<xsd:sequence>
			<xsd:element name="TypeBaseRef" type="ESMoL:TypeBaseRefType" minOccurs="0"/>
		</xsd:sequence>
		<xsd:attribute name="position" type="xsd:string"/>
		<xsd:attribute name="name" type="xsd:string"/>
		<xsd:attribute name="TriggerType" type="xsd:string" default="rising"/>
		<xsd:attribute name="srcLine" type="xsd:IDREFS"/>
		<xsd:attribute name="dstLine" type="xsd:IDREFS"/>
		<xsd:attribute name="_id" type="xsd:ID"/>
		<xsd:attribute name="_archetype" type="xsd:IDREF"/>
		<xsd:attribute name="_derived" type="xsd:IDREFS"/>
		<xsd:attribute name="_instances" type="xsd:IDREFS"/>
		<xsd:attribute name="_desynched_atts" type="xsd:string"/>
		<xsd:attribute name="_real_archetype" type="xsd:boolean"/>
		<xsd:attribute name="_subtype" type="xsd:boolean"/>
	</xsd:complexType>

	<xsd:complexType name="StatePortType">
		<xsd:sequence>
			<xsd:element name="TypeBaseRef" type="ESMoL:TypeBaseRefType" minOccurs="0"/>
		</xsd:sequence>
		<xsd:attribute name="position" type="xsd:string"/>
		<xsd:attribute name="name" type="xsd:string"/>
		<xsd:attribute name="srcLine" type="xsd:IDREFS"/>
		<xsd:attribute name="dstLine" type="xsd:IDREFS"/>
		<xsd:attribute name="_id" type="xsd:ID"/>
		<xsd:attribute name="_archetype" type="xsd:IDREF"/>
		<xsd:attribute name="_derived" type="xsd:IDREFS"/>
		<xsd:attribute name="_instances" type="xsd:IDREFS"/>
		<xsd:attribute name="_desynched_atts" type="xsd:string"/>
		<xsd:attribute name="_real_archetype" type="xsd:boolean"/>
		<xsd:attribute name="_subtype" type="xsd:boolean"/>
	</xsd:complexType>

	<xsd:complexType name="LineType">
		<xsd:attribute name="position" type="xsd:string"/>
		<xsd:attribute name="name" type="xsd:string"/>
		<xsd:attribute name="Name" type="xsd:string" use="required"/>
		<xsd:attribute name="srcLine_end_" type="xsd:IDREF"/>
		<xsd:attribute name="dstLine_end_" type="xsd:IDREF"/>
		<xsd:attribute name="_id" type="xsd:ID"/>
		<xsd:attribute name="_archetype" type="xsd:IDREF"/>
		<xsd:attribute name="_derived" type="xsd:IDREFS"/>
		<xsd:attribute name="_instances" type="xsd:IDREFS"/>
		<xsd:attribute name="_desynched_atts" type="xsd:string"/>
		<xsd:attribute name="_real_archetype" type="xsd:boolean"/>
		<xsd:attribute name="_subtype" type="xsd:boolean"/>
	</xsd:complexType>

	<xsd:complexType name="AnnotationType">
		<xsd:attribute name="position" type="xsd:string"/>
		<xsd:attribute name="name" type="xsd:string"/>
		<xsd:attribute name="Text" type="xsd:string" use="required"/>
		<xsd:attribute name="_id" type="xsd:ID"/>
		<xsd:attribute name="_archetype" type="xsd:IDREF"/>
		<xsd:attribute name="_derived" type="xsd:IDREFS"/>
		<xsd:attribute name="_instances" type="xsd:IDREFS"/>
		<xsd:attribute name="_desynched_atts" type="xsd:string"/>
		<xsd:attribute name="_real_archetype" type="xsd:boolean"/>
		<xsd:attribute name="_subtype" type="xsd:boolean"/>
	</xsd:complexType>

	<xsd:complexType name="ReferenceType">
		<xsd:sequence>
			<xsd:element name="ActionPort" type="ESMoL:ActionPortType" minOccurs="0" maxOccurs="unbounded"/>
			<xsd:element name="Annotation" type="ESMoL:AnnotationType" minOccurs="0" maxOccurs="unbounded"/>
			<xsd:element name="ConnectorRef" type="ESMoL:ConnectorRefType" minOccurs="0" maxOccurs="unbounded"/>
			<xsd:element name="EnablePort" type="ESMoL:EnablePortType" minOccurs="0" maxOccurs="unbounded"/>
			<xsd:element name="InputPort" type="ESMoL:InputPortType" minOccurs="0" maxOccurs="unbounded"/>
			<xsd:element name="Line" type="ESMoL:LineType" minOccurs="0" maxOccurs="unbounded"/>
			<xsd:element name="OutputPort" type="ESMoL:OutputPortType" minOccurs="0" maxOccurs="unbounded"/>
			<xsd:element name="Parameter" type="ESMoL:ParameterType" minOccurs="0" maxOccurs="unbounded"/>
			<xsd:element name="StatePort" type="ESMoL:StatePortType" minOccurs="0" maxOccurs="unbounded"/>
			<xsd:element name="TriggerPort" type="ESMoL:TriggerPortType" minOccurs="0" maxOccurs="unbounded"/>
		</xsd:sequence>
		<xsd:attribute name="position" type="xsd:string"/>
		<xsd:attribute name="name" type="xsd:string"/>
		<xsd:attribute name="SampleTime" type="xsd:double" use="required"/>
		<xsd:attribute name="UserData" type="xsd:string" use="required"/>
		<xsd:attribute name="Priority" type="xsd:long" use="required"/>
		<xsd:attribute name="Description" type="xsd:string" use="required"/>
		<xsd:attribute name="Name" type="xsd:string" use="required"/>
		<xsd:attribute name="Tag" type="xsd:string" use="required"/>
		<xsd:attribute name="BlockType" type="xsd:string" use="required"/>
		<xsd:attribute name="SourceType" type="xsd:string" use="required"/>
		<xsd:attribute name="SourceBlock" type="xsd:string" use="required"/>
		<xsd:attribute name="_id" type="xsd:ID"/>
		<xsd:attribute name="_archetype" type="xsd:IDREF"/>
		<xsd:attribute name="_derived" type="xsd:IDREFS"/>
		<xsd:attribute name="_instances" type="xsd:IDREFS"/>
		<xsd:attribute name="_desynched_atts" type="xsd:string"/>
		<xsd:attribute name="_real_archetype" type="xsd:boolean"/>
		<xsd:attribute name="_subtype" type="xsd:boolean"/>
	</xsd:complexType>

	<xsd:complexType name="ParameterType">
		<xsd:attribute name="position" type="xsd:string"/>
		<xsd:attribute name="name" type="xsd:string"/>
		<xsd:attribute name="Value" type="xsd:string" use="required"/>
		<xsd:attribute name="_id" type="xsd:ID"/>
		<xsd:attribute name="_archetype" type="xsd:IDREF"/>
		<xsd:attribute name="_derived" type="xsd:IDREFS"/>
		<xsd:attribute name="_instances" type="xsd:IDREFS"/>
		<xsd:attribute name="_desynched_atts" type="xsd:string"/>
		<xsd:attribute name="_real_archetype" type="xsd:boolean"/>
		<xsd:attribute name="_subtype" type="xsd:boolean"/>
	</xsd:complexType>

	<xsd:complexType name="PrimitiveType">
		<xsd:sequence>
			<xsd:element name="ActionPort" type="ESMoL:ActionPortType" minOccurs="0" maxOccurs="unbounded"/>
			<xsd:element name="Annotation" type="ESMoL:AnnotationType" minOccurs="0" maxOccurs="unbounded"/>
			<xsd:element name="ConnectorRef" type="ESMoL:ConnectorRefType" minOccurs="0" maxOccurs="unbounded"/>
			<xsd:element name="EnablePort" type="ESMoL:EnablePortType" minOccurs="0" maxOccurs="unbounded"/>
			<xsd:element name="InputPort" type="ESMoL:InputPortType" minOccurs="0" maxOccurs="unbounded"/>
			<xsd:element name="Line" type="ESMoL:LineType" minOccurs="0" maxOccurs="unbounded"/>
			<xsd:element name="OutputPort" type="ESMoL:OutputPortType" minOccurs="0" maxOccurs="unbounded"/>
			<xsd:element name="Parameter" type="ESMoL:ParameterType" minOccurs="0" maxOccurs="unbounded"/>
			<xsd:element name="StatePort" type="ESMoL:StatePortType" minOccurs="0" maxOccurs="unbounded"/>
			<xsd:element name="TriggerPort" type="ESMoL:TriggerPortType" minOccurs="0" maxOccurs="unbounded"/>
		</xsd:sequence>
		<xsd:attribute name="position" type="xsd:string"/>
		<xsd:attribute name="name" type="xsd:string"/>
		<xsd:attribute name="SampleTime" type="xsd:double" use="required"/>
		<xsd:attribute name="UserData" type="xsd:string" use="required"/>
		<xsd:attribute name="Priority" type="xsd:long" use="required"/>
		<xsd:attribute name="Description" type="xsd:string" use="required"/>
		<xsd:attribute name="Name" type="xsd:string" use="required"/>
		<xsd:attribute name="Tag" type="xsd:string" use="required"/>
		<xsd:attribute name="BlockType" type="xsd:string" use="required"/>
		<xsd:attribute name="_id" type="xsd:ID"/>
		<xsd:attribute name="_archetype" type="xsd:IDREF"/>
		<xsd:attribute name="_derived" type="xsd:IDREFS"/>
		<xsd:attribute name="_instances" type="xsd:IDREFS"/>
		<xsd:attribute name="_desynched_atts" type="xsd:string"/>
		<xsd:attribute name="_real_archetype" type="xsd:boolean"/>
		<xsd:attribute name="_subtype" type="xsd:boolean"/>
	</xsd:complexType>

	<xsd:complexType name="TerminateType">
		<xsd:attribute name="position" type="xsd:string"/>
		<xsd:attribute name="name" type="xsd:string"/>
		<xsd:attribute name="srcTransition" type="xsd:IDREFS"/>
		<xsd:attribute name="dstTransition" type="xsd:IDREFS"/>
		<xsd:attribute name="referedbyConnectorRef" type="xsd:IDREFS"/>
		<xsd:attribute name="_id" type="xsd:ID"/>
		<xsd:attribute name="_archetype" type="xsd:IDREF"/>
		<xsd:attribute name="_derived" type="xsd:IDREFS"/>
		<xsd:attribute name="_instances" type="xsd:IDREFS"/>
		<xsd:attribute name="_desynched_atts" type="xsd:string"/>
		<xsd:attribute name="_real_archetype" type="xsd:boolean"/>
		<xsd:attribute name="_subtype" type="xsd:boolean"/>
	</xsd:complexType>

	<xsd:complexType name="ExitType">
		<xsd:attribute name="position" type="xsd:string"/>
		<xsd:attribute name="name" type="xsd:string"/>
		<xsd:attribute name="srcTransition" type="xsd:IDREFS"/>
		<xsd:attribute name="dstTransition" type="xsd:IDREFS"/>
		<xsd:attribute name="referedbyConnectorRef" type="xsd:IDREFS"/>
		<xsd:attribute name="_id" type="xsd:ID"/>
		<xsd:attribute name="_archetype" type="xsd:IDREF"/>
		<xsd:attribute name="_derived" type="xsd:IDREFS"/>
		<xsd:attribute name="_instances" type="xsd:IDREFS"/>
		<xsd:attribute name="_desynched_atts" type="xsd:string"/>
		<xsd:attribute name="_real_archetype" type="xsd:boolean"/>
		<xsd:attribute name="_subtype" type="xsd:boolean"/>
	</xsd:complexType>

	<xsd:complexType name="EntryType">
		<xsd:attribute name="position" type="xsd:string"/>
		<xsd:attribute name="name" type="xsd:string"/>
		<xsd:attribute name="srcTransition" type="xsd:IDREFS"/>
		<xsd:attribute name="dstTransition" type="xsd:IDREFS"/>
		<xsd:attribute name="referedbyConnectorRef" type="xsd:IDREFS"/>
		<xsd:attribute name="_id" type="xsd:ID"/>
		<xsd:attribute name="_archetype" type="xsd:IDREF"/>
		<xsd:attribute name="_derived" type="xsd:IDREFS"/>
		<xsd:attribute name="_instances" type="xsd:IDREFS"/>
		<xsd:attribute name="_desynched_atts" type="xsd:string"/>
		<xsd:attribute name="_real_archetype" type="xsd:boolean"/>
		<xsd:attribute name="_subtype" type="xsd:boolean"/>
	</xsd:complexType>

	<xsd:complexType name="ChoiceType">
		<xsd:attribute name="position" type="xsd:string"/>
		<xsd:attribute name="name" type="xsd:string"/>
		<xsd:attribute name="srcTransition" type="xsd:IDREFS"/>
		<xsd:attribute name="dstTransition" type="xsd:IDREFS"/>
		<xsd:attribute name="referedbyConnectorRef" type="xsd:IDREFS"/>
		<xsd:attribute name="_id" type="xsd:ID"/>
		<xsd:attribute name="_archetype" type="xsd:IDREF"/>
		<xsd:attribute name="_derived" type="xsd:IDREFS"/>
		<xsd:attribute name="_instances" type="xsd:IDREFS"/>
		<xsd:attribute name="_desynched_atts" type="xsd:string"/>
		<xsd:attribute name="_real_archetype" type="xsd:boolean"/>
		<xsd:attribute name="_subtype" type="xsd:boolean"/>
	</xsd:complexType>

	<xsd:complexType name="ForkType">
		<xsd:attribute name="position" type="xsd:string"/>
		<xsd:attribute name="name" type="xsd:string"/>
		<xsd:attribute name="srcTransition" type="xsd:IDREFS"/>
		<xsd:attribute name="dstTransition" type="xsd:IDREFS"/>
		<xsd:attribute name="referedbyConnectorRef" type="xsd:IDREFS"/>
		<xsd:attribute name="_id" type="xsd:ID"/>
		<xsd:attribute name="_archetype" type="xsd:IDREF"/>
		<xsd:attribute name="_derived" type="xsd:IDREFS"/>
		<xsd:attribute name="_instances" type="xsd:IDREFS"/>
		<xsd:attribute name="_desynched_atts" type="xsd:string"/>
		<xsd:attribute name="_real_archetype" type="xsd:boolean"/>
		<xsd:attribute name="_subtype" type="xsd:boolean"/>
	</xsd:complexType>

	<xsd:complexType name="JoinType">
		<xsd:attribute name="position" type="xsd:string"/>
		<xsd:attribute name="name" type="xsd:string"/>
		<xsd:attribute name="srcTransition" type="xsd:IDREFS"/>
		<xsd:attribute name="dstTransition" type="xsd:IDREFS"/>
		<xsd:attribute name="referedbyConnectorRef" type="xsd:IDREFS"/>
		<xsd:attribute name="_id" type="xsd:ID"/>
		<xsd:attribute name="_archetype" type="xsd:IDREF"/>
		<xsd:attribute name="_derived" type="xsd:IDREFS"/>
		<xsd:attribute name="_instances" type="xsd:IDREFS"/>
		<xsd:attribute name="_desynched_atts" type="xsd:string"/>
		<xsd:attribute name="_real_archetype" type="xsd:boolean"/>
		<xsd:attribute name="_subtype" type="xsd:boolean"/>
	</xsd:complexType>

	<xsd:complexType name="DeepHistoryType">
		<xsd:attribute name="position" type="xsd:string"/>
		<xsd:attribute name="name" type="xsd:string"/>
		<xsd:attribute name="srcTransition" type="xsd:IDREFS"/>
		<xsd:attribute name="dstTransition" type="xsd:IDREFS"/>
		<xsd:attribute name="referedbyConnectorRef" type="xsd:IDREFS"/>
		<xsd:attribute name="_id" type="xsd:ID"/>
		<xsd:attribute name="_archetype" type="xsd:IDREF"/>
		<xsd:attribute name="_derived" type="xsd:IDREFS"/>
		<xsd:attribute name="_instances" type="xsd:IDREFS"/>
		<xsd:attribute name="_desynched_atts" type="xsd:string"/>
		<xsd:attribute name="_real_archetype" type="xsd:boolean"/>
		<xsd:attribute name="_subtype" type="xsd:boolean"/>
	</xsd:complexType>

	<xsd:complexType name="HistoryType">
		<xsd:attribute name="position" type="xsd:string"/>
		<xsd:attribute name="name" type="xsd:string"/>
		<xsd:attribute name="srcTransition" type="xsd:IDREFS"/>
		<xsd:attribute name="dstTransition" type="xsd:IDREFS"/>
		<xsd:attribute name="referedbyConnectorRef" type="xsd:IDREFS"/>
		<xsd:attribute name="_id" type="xsd:ID"/>
		<xsd:attribute name="_archetype" type="xsd:IDREF"/>
		<xsd:attribute name="_derived" type="xsd:IDREFS"/>
		<xsd:attribute name="_instances" type="xsd:IDREFS"/>
		<xsd:attribute name="_desynched_atts" type="xsd:string"/>
		<xsd:attribute name="_real_archetype" type="xsd:boolean"/>
		<xsd:attribute name="_subtype" type="xsd:boolean"/>
	</xsd:complexType>

	<xsd:complexType name="ShallowHistoryType">
		<xsd:attribute name="position" type="xsd:string"/>
		<xsd:attribute name="name" type="xsd:string"/>
		<xsd:attribute name="srcTransition" type="xsd:IDREFS"/>
		<xsd:attribute name="dstTransition" type="xsd:IDREFS"/>
		<xsd:attribute name="referedbyConnectorRef" type="xsd:IDREFS"/>
		<xsd:attribute name="_id" type="xsd:ID"/>
		<xsd:attribute name="_archetype" type="xsd:IDREF"/>
		<xsd:attribute name="_derived" type="xsd:IDREFS"/>
		<xsd:attribute name="_instances" type="xsd:IDREFS"/>
		<xsd:attribute name="_desynched_atts" type="xsd:string"/>
		<xsd:attribute name="_real_archetype" type="xsd:boolean"/>
		<xsd:attribute name="_subtype" type="xsd:boolean"/>
	</xsd:complexType>

	<xsd:complexType name="ConditionalType">
		<xsd:attribute name="position" type="xsd:string"/>
		<xsd:attribute name="name" type="xsd:string"/>
		<xsd:attribute name="srcTransition" type="xsd:IDREFS"/>
		<xsd:attribute name="dstTransition" type="xsd:IDREFS"/>
		<xsd:attribute name="referedbyConnectorRef" type="xsd:IDREFS"/>
		<xsd:attribute name="_id" type="xsd:ID"/>
		<xsd:attribute name="_archetype" type="xsd:IDREF"/>
		<xsd:attribute name="_derived" type="xsd:IDREFS"/>
		<xsd:attribute name="_instances" type="xsd:IDREFS"/>
		<xsd:attribute name="_desynched_atts" type="xsd:string"/>
		<xsd:attribute name="_real_archetype" type="xsd:boolean"/>
		<xsd:attribute name="_subtype" type="xsd:boolean"/>
	</xsd:complexType>

	<xsd:complexType name="DataType">
		<xsd:sequence>
			<xsd:element name="TypeBaseRef" type="ESMoL:TypeBaseRefType" minOccurs="0"/>
		</xsd:sequence>
		<xsd:attribute name="position" type="xsd:string"/>
		<xsd:attribute name="name" type="xsd:string"/>
		<xsd:attribute name="ArrayFirstIndex" type="xsd:string" use="required"/>
		<xsd:attribute name="Scope" type="xsd:string" default="LOCAL_DATA"/>
		<xsd:attribute name="ArraySize" type="xsd:string" use="required"/>
		<xsd:attribute name="Max" type="xsd:string" use="required"/>
		<xsd:attribute name="Min" type="xsd:string" use="required"/>
		<xsd:attribute name="InitialValue" type="xsd:string" use="required"/>
		<xsd:attribute name="Units" type="xsd:string" use="required"/>
		<xsd:attribute name="Port" type="xsd:long" use="required"/>
		<xsd:attribute name="DataType" type="xsd:string" use="required"/>
		<xsd:attribute name="Name" type="xsd:string" use="required"/>
		<xsd:attribute name="Description" type="xsd:string" use="required"/>
		<xsd:attribute name="_id" type="xsd:ID"/>
		<xsd:attribute name="_archetype" type="xsd:IDREF"/>
		<xsd:attribute name="_derived" type="xsd:IDREFS"/>
		<xsd:attribute name="_instances" type="xsd:IDREFS"/>
		<xsd:attribute name="_desynched_atts" type="xsd:string"/>
		<xsd:attribute name="_real_archetype" type="xsd:boolean"/>
		<xsd:attribute name="_subtype" type="xsd:boolean"/>
	</xsd:complexType>

	<xsd:complexType name="EventType">
		<xsd:sequence>
			<xsd:element name="TypeBaseRef" type="ESMoL:TypeBaseRefType" minOccurs="0"/>
		</xsd:sequence>
		<xsd:attribute name="position" type="xsd:string"/>
		<xsd:attribute name="name" type="xsd:string"/>
		<xsd:attribute name="Trigger" type="xsd:string" default="EITHER_EDGE_EVENT"/>
		<xsd:attribute name="Port" type="xsd:long" use="required"/>
		<xsd:attribute name="Scope" type="xsd:string" default="LOCAL_EVENT"/>
		<xsd:attribute name="Name" type="xsd:string" use="required"/>
		<xsd:attribute name="Description" type="xsd:string" use="required"/>
		<xsd:attribute name="_id" type="xsd:ID"/>
		<xsd:attribute name="_archetype" type="xsd:IDREF"/>
		<xsd:attribute name="_derived" type="xsd:IDREFS"/>
		<xsd:attribute name="_instances" type="xsd:IDREFS"/>
		<xsd:attribute name="_desynched_atts" type="xsd:string"/>
		<xsd:attribute name="_real_archetype" type="xsd:boolean"/>
		<xsd:attribute name="_subtype" type="xsd:boolean"/>
	</xsd:complexType>

	<xsd:complexType name="TransStartType">
		<xsd:attribute name="position" type="xsd:string"/>
		<xsd:attribute name="name" type="xsd:string"/>
		<xsd:attribute name="srcTransition" type="xsd:IDREFS"/>
		<xsd:attribute name="dstTransition" type="xsd:IDREFS"/>
		<xsd:attribute name="referedbyConnectorRef" type="xsd:IDREFS"/>
		<xsd:attribute name="_id" type="xsd:ID"/>
		<xsd:attribute name="_archetype" type="xsd:IDREF"/>
		<xsd:attribute name="_derived" type="xsd:IDREFS"/>
		<xsd:attribute name="_instances" type="xsd:IDREFS"/>
		<xsd:attribute name="_desynched_atts" type="xsd:string"/>
		<xsd:attribute name="_real_archetype" type="xsd:boolean"/>
		<xsd:attribute name="_subtype" type="xsd:boolean"/>
	</xsd:complexType>

	<xsd:complexType name="JunctionType">
		<xsd:attribute name="position" type="xsd:string"/>
		<xsd:attribute name="name" type="xsd:string"/>
		<xsd:attribute name="srcTransition" type="xsd:IDREFS"/>
		<xsd:attribute name="dstTransition" type="xsd:IDREFS"/>
		<xsd:attribute name="referedbyConnectorRef" type="xsd:IDREFS"/>
		<xsd:attribute name="_id" type="xsd:ID"/>
		<xsd:attribute name="_archetype" type="xsd:IDREF"/>
		<xsd:attribute name="_derived" type="xsd:IDREFS"/>
		<xsd:attribute name="_instances" type="xsd:IDREFS"/>
		<xsd:attribute name="_desynched_atts" type="xsd:string"/>
		<xsd:attribute name="_real_archetype" type="xsd:boolean"/>
		<xsd:attribute name="_subtype" type="xsd:boolean"/>
	</xsd:complexType>

	<xsd:complexType name="ConnectorRefType">
		<xsd:attribute name="position" type="xsd:string"/>
		<xsd:attribute name="name" type="xsd:string"/>
		<xsd:attribute name="srcTransition" type="xsd:IDREFS"/>
		<xsd:attribute name="dstTransition" type="xsd:IDREFS"/>
		<xsd:attribute name="referedbyConnectorRef" type="xsd:IDREFS"/>
		<xsd:attribute name="ref" type="xsd:IDREF"/>
		<xsd:attribute name="_id" type="xsd:ID"/>
		<xsd:attribute name="_archetype" type="xsd:IDREF"/>
		<xsd:attribute name="_derived" type="xsd:IDREFS"/>
		<xsd:attribute name="_instances" type="xsd:IDREFS"/>
		<xsd:attribute name="_desynched_atts" type="xsd:string"/>
		<xsd:attribute name="_real_archetype" type="xsd:boolean"/>
		<xsd:attribute name="_subtype" type="xsd:boolean"/>
	</xsd:complexType>

	<xsd:complexType name="StateType">
		<xsd:sequence>
			<xsd:element name="Choice" type="ESMoL:ChoiceType" minOccurs="0" maxOccurs="unbounded"/>
			<xsd:element name="Conditional" type="ESMoL:ConditionalType" minOccurs="0" maxOccurs="unbounded"/>
			<xsd:element name="ConnectorRef" type="ESMoL:ConnectorRefType" minOccurs="0" maxOccurs="unbounded"/>
			<xsd:element name="Data" type="ESMoL:DataType" minOccurs="0" maxOccurs="unbounded"/>
			<xsd:element name="DeepHistory" type="ESMoL:DeepHistoryType" minOccurs="0" maxOccurs="unbounded"/>
			<xsd:element name="Entry" type="ESMoL:EntryType" minOccurs="0" maxOccurs="unbounded"/>
			<xsd:element name="Event" type="ESMoL:EventType" minOccurs="0" maxOccurs="unbounded"/>
			<xsd:element name="Exit" type="ESMoL:ExitType" minOccurs="0" maxOccurs="unbounded"/>
			<xsd:element name="Fork" type="ESMoL:ForkType" minOccurs="0" maxOccurs="unbounded"/>
			<xsd:element name="History" type="ESMoL:HistoryType" minOccurs="0" maxOccurs="unbounded"/>
			<xsd:element name="Join" type="ESMoL:JoinType" minOccurs="0" maxOccurs="unbounded"/>
			<xsd:element name="Junction" type="ESMoL:JunctionType" minOccurs="0" maxOccurs="unbounded"/>
			<xsd:element name="ShallowHistory" type="ESMoL:ShallowHistoryType" minOccurs="0" maxOccurs="unbounded"/>
			<xsd:element name="State" type="ESMoL:StateType" minOccurs="0" maxOccurs="unbounded"/>
			<xsd:element name="Terminate" type="ESMoL:TerminateType" minOccurs="0" maxOccurs="unbounded"/>
			<xsd:element name="TransStart" type="ESMoL:TransStartType" minOccurs="0" maxOccurs="unbounded"/>
			<xsd:element name="Transition" type="ESMoL:TransitionType" minOccurs="0" maxOccurs="unbounded"/>
		</xsd:sequence>
		<xsd:attribute name="position" type="xsd:string"/>
		<xsd:attribute name="name" type="xsd:string"/>
		<xsd:attribute name="Order" type="xsd:string" use="required"/>
		<xsd:attribute name="Description" type="xsd:string" use="required"/>
		<xsd:attribute name="ExitAction" type="xsd:string" use="required"/>
		<xsd:attribute name="DuringAction" type="xsd:string" use="required"/>
		<xsd:attribute name="EnterAction" type="xsd:string" use="required"/>
		<xsd:attribute name="Name" type="xsd:string" use="required"/>
		<xsd:attribute name="Decomposition" type="xsd:string" default="OR_STATE"/>
		<xsd:attribute name="srcTransition" type="xsd:IDREFS"/>
		<xsd:attribute name="dstTransition" type="xsd:IDREFS"/>
		<xsd:attribute name="referedbyConnectorRef" type="xsd:IDREFS"/>
		<xsd:attribute name="_id" type="xsd:ID"/>
		<xsd:attribute name="_archetype" type="xsd:IDREF"/>
		<xsd:attribute name="_derived" type="xsd:IDREFS"/>
		<xsd:attribute name="_instances" type="xsd:IDREFS"/>
		<xsd:attribute name="_desynched_atts" type="xsd:string"/>
		<xsd:attribute name="_real_archetype" type="xsd:boolean"/>
		<xsd:attribute name="_subtype" type="xsd:boolean"/>
	</xsd:complexType>

	<xsd:complexType name="TransitionType">
		<xsd:attribute name="position" type="xsd:string"/>
		<xsd:attribute name="name" type="xsd:string"/>
		<xsd:attribute name="ConditionAction" type="xsd:string" use="required"/>
		<xsd:attribute name="Order" type="xsd:string" use="required"/>
		<xsd:attribute name="Action" type="xsd:string" use="required"/>
		<xsd:attribute name="Guard" type="xsd:string" use="required"/>
		<xsd:attribute name="Trigger" type="xsd:string" use="required"/>
		<xsd:attribute name="srcTransition_end_" type="xsd:IDREF"/>
		<xsd:attribute name="dstTransition_end_" type="xsd:IDREF"/>
		<xsd:attribute name="_id" type="xsd:ID"/>
		<xsd:attribute name="_archetype" type="xsd:IDREF"/>
		<xsd:attribute name="_derived" type="xsd:IDREFS"/>
		<xsd:attribute name="_instances" type="xsd:IDREFS"/>
		<xsd:attribute name="_desynched_atts" type="xsd:string"/>
		<xsd:attribute name="_real_archetype" type="xsd:boolean"/>
		<xsd:attribute name="_subtype" type="xsd:boolean"/>
	</xsd:complexType>

	<xsd:complexType name="PNVarRefType">
		<xsd:attribute name="position" type="xsd:string"/>
		<xsd:attribute name="name" type="xsd:string"/>
		<xsd:attribute name="ref" type="xsd:IDREF"/>
		<xsd:attribute name="_id" type="xsd:ID"/>
		<xsd:attribute name="_archetype" type="xsd:IDREF"/>
		<xsd:attribute name="_derived" type="xsd:IDREFS"/>
		<xsd:attribute name="_instances" type="xsd:IDREFS"/>
		<xsd:attribute name="_desynched_atts" type="xsd:string"/>
		<xsd:attribute name="_real_archetype" type="xsd:boolean"/>
		<xsd:attribute name="_subtype" type="xsd:boolean"/>
	</xsd:complexType>

	<xsd:complexType name="BIPConnectorType">
		<xsd:attribute name="position" type="xsd:string"/>
		<xsd:attribute name="name" type="xsd:string"/>
		<xsd:attribute name="srcPortToPort_end_" type="xsd:IDREF"/>
		<xsd:attribute name="dstPortToPort_end_" type="xsd:IDREF"/>
		<xsd:attribute name="_id" type="xsd:ID"/>
		<xsd:attribute name="_archetype" type="xsd:IDREF"/>
		<xsd:attribute name="_derived" type="xsd:IDREFS"/>
		<xsd:attribute name="_instances" type="xsd:IDREFS"/>
		<xsd:attribute name="_desynched_atts" type="xsd:string"/>
		<xsd:attribute name="_real_archetype" type="xsd:boolean"/>
		<xsd:attribute name="_subtype" type="xsd:boolean"/>
	</xsd:complexType>

	<xsd:complexType name="ModuleType">
		<xsd:sequence>
			<xsd:element name="BIPConnector" type="ESMoL:BIPConnectorType" minOccurs="0" maxOccurs="unbounded"/>
			<xsd:element name="PetriNet" type="ESMoL:PetriNetType" minOccurs="0" maxOccurs="unbounded"/>
		</xsd:sequence>
		<xsd:attribute name="position" type="xsd:string"/>
		<xsd:attribute name="name" type="xsd:string"/>
		<xsd:attribute name="_id" type="xsd:ID"/>
		<xsd:attribute name="_archetype" type="xsd:IDREF"/>
		<xsd:attribute name="_derived" type="xsd:IDREFS"/>
		<xsd:attribute name="_instances" type="xsd:IDREFS"/>
		<xsd:attribute name="_desynched_atts" type="xsd:string"/>
		<xsd:attribute name="_real_archetype" type="xsd:boolean"/>
		<xsd:attribute name="_subtype" type="xsd:boolean"/>
	</xsd:complexType>

	<xsd:complexType name="PNStateType">
		<xsd:attribute name="position" type="xsd:string"/>
		<xsd:attribute name="name" type="xsd:string"/>
		<xsd:attribute name="initial" type="xsd:boolean" default="false"/>
		<xsd:attribute name="dstStateToTransition" type="xsd:IDREFS"/>
		<xsd:attribute name="srcTransitionToState" type="xsd:IDREFS"/>
		<xsd:attribute name="_id" type="xsd:ID"/>
		<xsd:attribute name="_archetype" type="xsd:IDREF"/>
		<xsd:attribute name="_derived" type="xsd:IDREFS"/>
		<xsd:attribute name="_instances" type="xsd:IDREFS"/>
		<xsd:attribute name="_desynched_atts" type="xsd:string"/>
		<xsd:attribute name="_real_archetype" type="xsd:boolean"/>
		<xsd:attribute name="_subtype" type="xsd:boolean"/>
	</xsd:complexType>

	<xsd:complexType name="PNTransitionType">
		<xsd:attribute name="position" type="xsd:string"/>
		<xsd:attribute name="name" type="xsd:string"/>
		<xsd:attribute name="guard" type="xsd:string" use="required"/>
		<xsd:attribute name="action" type="xsd:string" use="required"/>
		<xsd:attribute name="srcStateToTransition" type="xsd:IDREFS"/>
		<xsd:attribute name="dstTransitionToState" type="xsd:IDREFS"/>
		<xsd:attribute name="_id" type="xsd:ID"/>
		<xsd:attribute name="_archetype" type="xsd:IDREF"/>
		<xsd:attribute name="_derived" type="xsd:IDREFS"/>
		<xsd:attribute name="_instances" type="xsd:IDREFS"/>
		<xsd:attribute name="_desynched_atts" type="xsd:string"/>
		<xsd:attribute name="_real_archetype" type="xsd:boolean"/>
		<xsd:attribute name="_subtype" type="xsd:boolean"/>
	</xsd:complexType>

	<xsd:complexType name="StateToTransitionType">
		<xsd:attribute name="position" type="xsd:string"/>
		<xsd:attribute name="name" type="xsd:string"/>
		<xsd:attribute name="srcStateToTransition_end_" type="xsd:IDREF"/>
		<xsd:attribute name="dstStateToTransition_end_" type="xsd:IDREF"/>
		<xsd:attribute name="_id" type="xsd:ID"/>
		<xsd:attribute name="_archetype" type="xsd:IDREF"/>
		<xsd:attribute name="_derived" type="xsd:IDREFS"/>
		<xsd:attribute name="_instances" type="xsd:IDREFS"/>
		<xsd:attribute name="_desynched_atts" type="xsd:string"/>
		<xsd:attribute name="_real_archetype" type="xsd:boolean"/>
		<xsd:attribute name="_subtype" type="xsd:boolean"/>
	</xsd:complexType>

	<xsd:complexType name="TransitionToStateType">
		<xsd:attribute name="position" type="xsd:string"/>
		<xsd:attribute name="name" type="xsd:string"/>
		<xsd:attribute name="srcTransitionToState_end_" type="xsd:IDREF"/>
		<xsd:attribute name="dstTransitionToState_end_" type="xsd:IDREF"/>
		<xsd:attribute name="_id" type="xsd:ID"/>
		<xsd:attribute name="_archetype" type="xsd:IDREF"/>
		<xsd:attribute name="_derived" type="xsd:IDREFS"/>
		<xsd:attribute name="_instances" type="xsd:IDREFS"/>
		<xsd:attribute name="_desynched_atts" type="xsd:string"/>
		<xsd:attribute name="_real_archetype" type="xsd:boolean"/>
		<xsd:attribute name="_subtype" type="xsd:boolean"/>
	</xsd:complexType>

	<xsd:complexType name="PlatformLibraryType">
		<xsd:sequence>
			<xsd:element name="HardwareUnit" type="ESMoL:HardwareUnitType" minOccurs="0" maxOccurs="unbounded"/>
		</xsd:sequence>
		<xsd:attribute name="name" type="xsd:string"/>
		<xsd:attribute name="_id" type="xsd:ID"/>
		<xsd:attribute name="_archetype" type="xsd:IDREF"/>
		<xsd:attribute name="_derived" type="xsd:IDREFS"/>
		<xsd:attribute name="_instances" type="xsd:IDREFS"/>
		<xsd:attribute name="_desynched_atts" type="xsd:string"/>
		<xsd:attribute name="_real_archetype" type="xsd:boolean"/>
		<xsd:attribute name="_subtype" type="xsd:boolean"/>
	</xsd:complexType>

	<xsd:complexType name="ModelsFolderType">
		<xsd:sequence>
			<xsd:element name="Dataflow" type="ESMoL:DataflowType" minOccurs="0" maxOccurs="unbounded"/>
			<xsd:element name="ModelInfo" type="ESMoL:ModelInfoType" minOccurs="0" maxOccurs="unbounded"/>
			<xsd:element name="Module" type="ESMoL:ModuleType" minOccurs="0" maxOccurs="unbounded"/>
			<xsd:element name="Stateflow" type="ESMoL:StateflowType" minOccurs="0" maxOccurs="unbounded"/>
		</xsd:sequence>
		<xsd:attribute name="name" type="xsd:string"/>
		<xsd:attribute name="_id" type="xsd:ID"/>
		<xsd:attribute name="_archetype" type="xsd:IDREF"/>
		<xsd:attribute name="_derived" type="xsd:IDREFS"/>
		<xsd:attribute name="_instances" type="xsd:IDREFS"/>
		<xsd:attribute name="_desynched_atts" type="xsd:string"/>
		<xsd:attribute name="_real_archetype" type="xsd:boolean"/>
		<xsd:attribute name="_subtype" type="xsd:boolean"/>
	</xsd:complexType>

	<xsd:complexType name="StateflowType">
		<xsd:sequence>
			<xsd:element name="State" type="ESMoL:StateType" minOccurs="0" maxOccurs="unbounded"/>
		</xsd:sequence>
		<xsd:attribute name="name" type="xsd:string"/>
		<xsd:attribute name="_id" type="xsd:ID"/>
		<xsd:attribute name="_archetype" type="xsd:IDREF"/>
		<xsd:attribute name="_derived" type="xsd:IDREFS"/>
		<xsd:attribute name="_instances" type="xsd:IDREFS"/>
		<xsd:attribute name="_desynched_atts" type="xsd:string"/>
		<xsd:attribute name="_real_archetype" type="xsd:boolean"/>
		<xsd:attribute name="_subtype" type="xsd:boolean"/>
	</xsd:complexType>

	<xsd:complexType name="DataflowType">
		<xsd:sequence>
			<xsd:element name="Subsystem" type="ESMoL:SubsystemType" minOccurs="0" maxOccurs="unbounded"/>
		</xsd:sequence>
		<xsd:attribute name="name" type="xsd:string"/>
		<xsd:attribute name="_id" type="xsd:ID"/>
		<xsd:attribute name="_archetype" type="xsd:IDREF"/>
		<xsd:attribute name="_derived" type="xsd:IDREFS"/>
		<xsd:attribute name="_instances" type="xsd:IDREFS"/>
		<xsd:attribute name="_desynched_atts" type="xsd:string"/>
		<xsd:attribute name="_real_archetype" type="xsd:boolean"/>
		<xsd:attribute name="_subtype" type="xsd:boolean"/>
	</xsd:complexType>

	<xsd:complexType name="ArchitectureLibraryType">
		<xsd:sequence>
			<xsd:element name="SystemTypes" type="ESMoL:SystemTypesType" minOccurs="0" maxOccurs="unbounded"/>
		</xsd:sequence>
		<xsd:attribute name="name" type="xsd:string"/>
		<xsd:attribute name="_id" type="xsd:ID"/>
		<xsd:attribute name="_archetype" type="xsd:IDREF"/>
		<xsd:attribute name="_derived" type="xsd:IDREFS"/>
		<xsd:attribute name="_instances" type="xsd:IDREFS"/>
		<xsd:attribute name="_desynched_atts" type="xsd:string"/>
		<xsd:attribute name="_real_archetype" type="xsd:boolean"/>
		<xsd:attribute name="_subtype" type="xsd:boolean"/>
	</xsd:complexType>

	<xsd:complexType name="DesignFolderType">
		<xsd:sequence>
			<xsd:element name="HardwareUnit" type="ESMoL:HardwareUnitType" minOccurs="0" maxOccurs="unbounded"/>
			<xsd:element name="ModelsFolder" type="ESMoL:ModelsFolderType" minOccurs="0" maxOccurs="unbounded"/>
			<xsd:element name="System" type="ESMoL:SystemType" minOccurs="0" maxOccurs="unbounded"/>
			<xsd:element name="SystemTypes" type="ESMoL:SystemTypesType" minOccurs="0" maxOccurs="unbounded"/>
			<xsd:element name="TimingSheet" type="ESMoL:TimingSheetType" minOccurs="0" maxOccurs="unbounded"/>
		</xsd:sequence>
		<xsd:attribute name="name" type="xsd:string"/>
		<xsd:attribute name="_id" type="xsd:ID"/>
		<xsd:attribute name="_archetype" type="xsd:IDREF"/>
		<xsd:attribute name="_derived" type="xsd:IDREFS"/>
		<xsd:attribute name="_instances" type="xsd:IDREFS"/>
		<xsd:attribute name="_desynched_atts" type="xsd:string"/>
		<xsd:attribute name="_real_archetype" type="xsd:boolean"/>
		<xsd:attribute name="_subtype" type="xsd:boolean"/>
	</xsd:complexType>

	<xsd:complexType name="RequirementsLibraryType">
		<xsd:sequence>
			<xsd:element name="TimingSheet" type="ESMoL:TimingSheetType" minOccurs="0" maxOccurs="unbounded"/>
		</xsd:sequence>
		<xsd:attribute name="name" type="xsd:string"/>
		<xsd:attribute name="_id" type="xsd:ID"/>
		<xsd:attribute name="_archetype" type="xsd:IDREF"/>
		<xsd:attribute name="_derived" type="xsd:IDREFS"/>
		<xsd:attribute name="_instances" type="xsd:IDREFS"/>
		<xsd:attribute name="_desynched_atts" type="xsd:string"/>
		<xsd:attribute name="_real_archetype" type="xsd:boolean"/>
		<xsd:attribute name="_subtype" type="xsd:boolean"/>
	</xsd:complexType>

	<xsd:complexType name="TypesType">
		<xsd:sequence>
			<xsd:element name="Matrix" type="ESMoL:MatrixType" minOccurs="0" maxOccurs="unbounded"/>
			<xsd:element name="TypeStruct" type="ESMoL:TypeStructType" minOccurs="0" maxOccurs="unbounded"/>
		</xsd:sequence>
		<xsd:attribute name="name" type="xsd:string"/>
		<xsd:attribute name="_id" type="xsd:ID"/>
		<xsd:attribute name="_archetype" type="xsd:IDREF"/>
		<xsd:attribute name="_derived" type="xsd:IDREFS"/>
		<xsd:attribute name="_instances" type="xsd:IDREFS"/>
		<xsd:attribute name="_desynched_atts" type="xsd:string"/>
		<xsd:attribute name="_real_archetype" type="xsd:boolean"/>
		<xsd:attribute name="_subtype" type="xsd:boolean"/>
	</xsd:complexType>

	<xsd:complexType name="DeploymentLibraryType">
		<xsd:sequence>
			<xsd:element name="System" type="ESMoL:SystemType" minOccurs="0" maxOccurs="unbounded"/>
		</xsd:sequence>
		<xsd:attribute name="name" type="xsd:string"/>
		<xsd:attribute name="_id" type="xsd:ID"/>
		<xsd:attribute name="_archetype" type="xsd:IDREF"/>
		<xsd:attribute name="_derived" type="xsd:IDREFS"/>
		<xsd:attribute name="_instances" type="xsd:IDREFS"/>
		<xsd:attribute name="_desynched_atts" type="xsd:string"/>
		<xsd:attribute name="_real_archetype" type="xsd:boolean"/>
		<xsd:attribute name="_subtype" type="xsd:boolean"/>
	</xsd:complexType>

 <xsd:element name="OldTask" type="ESMoL:OldTaskType"/>
 <xsd:element name="IOPortInfo" type="ESMoL:IOPortInfoType"/>
 <xsd:element name="IOPortInfoRef" type="ESMoL:IOPortInfoRefType"/>
 <xsd:element name="IOPortAssignment" type="ESMoL:IOPortAssignmentType"/>
 <xsd:element name="PlatformLibrary" type="ESMoL:PlatformLibraryType"/>
 <xsd:element name="ArchitectureLibrary" type="ESMoL:ArchitectureLibraryType"/>
 <xsd:element name="DesignFolder" type="ESMoL:DesignFolderType"/>
 <xsd:element name="RequirementsLibrary" type="ESMoL:RequirementsLibraryType"/>
 <xsd:element name="Types" type="ESMoL:TypesType"/>
 <xsd:element name="DeploymentLibrary" type="ESMoL:DeploymentLibraryType"/>

</xsd:schema>
