src/MetaLink/meta-schema/src/main/xsd/AssemblyInterface.xsd

<?xml version="1.0" encoding="UTF-8"?>
<?udm interface="AssemblyInterface" version="1.2.0.0"?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema"
 elementFormDefault="qualified" 
>
<!-- generated on Wed Apr 24 17:22:17 2013 -->


	<xsd:complexType name="MassType">
		<xsd:attribute name="ComponentID" type="xsd:string" use="required"/>
		<xsd:attribute name="RequestedValueType" type="xsd:string" use="required"/>
		<xsd:attribute name="MetricID" type="xsd:string" use="required"/>
		<xsd:attribute name="_id" type="xsd:ID"/>
	</xsd:complexType>

	<xsd:complexType name="PointCoordinatesType">
		<xsd:attribute name="FeatureDatumName" type="xsd:string" use="required"/>
		<xsd:attribute name="ComponentID" type="xsd:string" use="required"/>
		<xsd:attribute name="RequestedValueType" type="xsd:string" use="required"/>
		<xsd:attribute name="MetricID" type="xsd:string" use="required"/>
		<xsd:attribute name="_id" type="xsd:ID"/>
	</xsd:complexType>

	<xsd:complexType name="CenterOfGravityType">
		<xsd:attribute name="ComponentID" type="xsd:string" use="required"/>
		<xsd:attribute name="RequestedValueType" type="xsd:string" use="required"/>
		<xsd:attribute name="MetricID" type="xsd:string" use="required"/>
		<xsd:attribute name="_id" type="xsd:ID"/>
	</xsd:complexType>

	<xsd:complexType name="BoundingBoxType">
		<xsd:attribute name="ComponentID" type="xsd:string" use="required"/>
		<xsd:attribute name="RequestedValueType" type="xsd:string" use="required"/>
		<xsd:attribute name="MetricID" type="xsd:string" use="required"/>
		<xsd:attribute name="_id" type="xsd:ID"/>
	</xsd:complexType>

	<xsd:complexType name="FixedType">
		<xsd:sequence>
			<xsd:element name="KinematicFeature" type="KinematicFeatureType" minOccurs="0" maxOccurs="unbounded"/>
		</xsd:sequence>
		<xsd:attribute name="ConnectionID" type="xsd:string" use="required"/>
		<xsd:attribute name="ConnectedComponentID" type="xsd:string" use="required"/>
		<xsd:attribute name="FeatureInterfaceType" type="xsd:string" use="required"/>
		<xsd:attribute name="ERP" type="xsd:double" use="required"/>
		<xsd:attribute name="CFM" type="xsd:double" use="required"/>
		<xsd:attribute name="_id" type="xsd:ID"/>
	</xsd:complexType>

	<xsd:complexType name="KinematicFeatureType">
		<xsd:attribute name="DatumName" type="xsd:string" use="required"/>
		<xsd:attribute name="ComponentID" type="xsd:string" use="required"/>
		<xsd:attribute name="FeatureGeometryType" type="xsd:string" use="required"/>
		<xsd:attribute name="_id" type="xsd:ID"/>
	</xsd:complexType>

	<xsd:complexType name="PrismaticType">
		<xsd:sequence>
			<xsd:element name="KinematicFeature" type="KinematicFeatureType" minOccurs="0" maxOccurs="unbounded"/>
		</xsd:sequence>
		<xsd:attribute name="ConnectionID" type="xsd:string" use="required"/>
		<xsd:attribute name="ConnectedComponentID" type="xsd:string" use="required"/>
		<xsd:attribute name="FeatureInterfaceType" type="xsd:string" use="required"/>
		<xsd:attribute name="ERP" type="xsd:double" use="required"/>
		<xsd:attribute name="CFM" type="xsd:double" use="required"/>
		<xsd:attribute name="_id" type="xsd:ID"/>
	</xsd:complexType>

	<xsd:complexType name="SphericalType">
		<xsd:sequence>
			<xsd:element name="KinematicFeature" type="KinematicFeatureType" minOccurs="0" maxOccurs="unbounded"/>
		</xsd:sequence>
		<xsd:attribute name="ConnectionID" type="xsd:string" use="required"/>
		<xsd:attribute name="ConnectedComponentID" type="xsd:string" use="required"/>
		<xsd:attribute name="FeatureInterfaceType" type="xsd:string" use="required"/>
		<xsd:attribute name="ERP" type="xsd:double" use="required"/>
		<xsd:attribute name="CFM" type="xsd:double" use="required"/>
		<xsd:attribute name="_id" type="xsd:ID"/>
	</xsd:complexType>

	<xsd:complexType name="RevoluteType">
		<xsd:sequence>
			<xsd:element name="KinematicFeature" type="KinematicFeatureType" minOccurs="0" maxOccurs="unbounded"/>
		</xsd:sequence>
		<xsd:attribute name="ConnectionID" type="xsd:string" use="required"/>
		<xsd:attribute name="ConnectedComponentID" type="xsd:string" use="required"/>
		<xsd:attribute name="FeatureInterfaceType" type="xsd:string" use="required"/>
		<xsd:attribute name="ERP" type="xsd:double" use="required"/>
		<xsd:attribute name="CFM" type="xsd:double" use="required"/>
		<xsd:attribute name="_id" type="xsd:ID"/>
	</xsd:complexType>

	<xsd:complexType name="KinematicConnectionsType">
		<xsd:sequence>
			<xsd:element name="Fixed" type="FixedType" minOccurs="0" maxOccurs="unbounded"/>
			<xsd:element name="Prismatic" type="PrismaticType" minOccurs="0" maxOccurs="unbounded"/>
			<xsd:element name="Revolute" type="RevoluteType" minOccurs="0" maxOccurs="unbounded"/>
			<xsd:element name="Spherical" type="SphericalType" minOccurs="0" maxOccurs="unbounded"/>
		</xsd:sequence>
		<xsd:attribute name="_id" type="xsd:ID"/>
	</xsd:complexType>

	<xsd:complexType name="SetOperationType">
		<xsd:attribute name="Type" type="xsd:string" use="required"/>
		<xsd:attribute name="FeatureID" type="xsd:string" use="required"/>
		<xsd:attribute name="_id" type="xsd:ID"/>
	</xsd:complexType>

	<xsd:complexType name="GeometryType">
		<xsd:sequence>
			<xsd:element name="Features" type="FeaturesType" maxOccurs="unbounded"/>
			<xsd:element name="SetOperation" type="SetOperationType" minOccurs="0" maxOccurs="unbounded"/>
		</xsd:sequence>
		<xsd:attribute name="_id" type="xsd:ID"/>
	</xsd:complexType>

	<xsd:complexType name="MomentType">
		<xsd:attribute name="Units" type="xsd:string" use="required"/>
		<xsd:attribute name="x" type="xsd:double" use="required"/>
		<xsd:attribute name="y" type="xsd:double" use="required"/>
		<xsd:attribute name="z" type="xsd:double" use="required"/>
		<xsd:attribute name="_id" type="xsd:ID"/>
	</xsd:complexType>

	<xsd:complexType name="ForceType">
		<xsd:attribute name="Units" type="xsd:string" use="required"/>
		<xsd:attribute name="x" type="xsd:double" use="required"/>
		<xsd:attribute name="y" type="xsd:double" use="required"/>
		<xsd:attribute name="z" type="xsd:double" use="required"/>
		<xsd:attribute name="_id" type="xsd:ID"/>
	</xsd:complexType>

	<xsd:complexType name="RotationType">
		<xsd:attribute name="Units" type="xsd:string" use="required"/>
		<xsd:attribute name="x" type="xsd:string" use="required"/>
		<xsd:attribute name="y" type="xsd:string" use="required"/>
		<xsd:attribute name="z" type="xsd:string" use="required"/>
		<xsd:attribute name="_id" type="xsd:ID"/>
	</xsd:complexType>

	<xsd:complexType name="TranslationType">
		<xsd:attribute name="Units" type="xsd:string" use="required"/>
		<xsd:attribute name="x" type="xsd:string" use="required"/>
		<xsd:attribute name="y" type="xsd:string" use="required"/>
		<xsd:attribute name="z" type="xsd:string" use="required"/>
		<xsd:attribute name="_id" type="xsd:ID"/>
	</xsd:complexType>

	<xsd:complexType name="AxialDisplacementType">
		<xsd:attribute name="Property" type="xsd:string" use="required"/>
		<xsd:attribute name="_id" type="xsd:ID"/>
	</xsd:complexType>

	<xsd:complexType name="AxialRotationType">
		<xsd:attribute name="Property" type="xsd:string" use="required"/>
		<xsd:attribute name="_id" type="xsd:ID"/>
	</xsd:complexType>

	<xsd:complexType name="AccelerationType">
		<xsd:attribute name="Units" type="xsd:string" use="required"/>
		<xsd:attribute name="x" type="xsd:double" use="required"/>
		<xsd:attribute name="y" type="xsd:double" use="required"/>
		<xsd:attribute name="z" type="xsd:double" use="required"/>
		<xsd:attribute name="_id" type="xsd:ID"/>
	</xsd:complexType>

	<xsd:complexType name="PressureType">
		<xsd:attribute name="Value" type="xsd:double" use="required"/>
		<xsd:attribute name="Units" type="xsd:string" use="required"/>
		<xsd:attribute name="_id" type="xsd:ID"/>
	</xsd:complexType>

	<xsd:complexType name="ForceMomentType">
		<xsd:sequence>
			<xsd:element name="Force" type="ForceType"/>
			<xsd:element name="Moment" type="MomentType"/>
		</xsd:sequence>
		<xsd:attribute name="_id" type="xsd:ID"/>
	</xsd:complexType>

	<xsd:complexType name="BallType">
		<xsd:attribute name="_id" type="xsd:ID"/>
	</xsd:complexType>

	<xsd:complexType name="PinType">
		<xsd:sequence>
			<xsd:element name="AxialDisplacement" type="AxialDisplacementType"/>
			<xsd:element name="AxialRotation" type="AxialRotationType"/>
		</xsd:sequence>
		<xsd:attribute name="_id" type="xsd:ID"/>
	</xsd:complexType>

	<xsd:complexType name="DisplacementType">
		<xsd:sequence>
			<xsd:element name="Rotation" type="RotationType"/>
			<xsd:element name="Translation" type="TranslationType"/>
		</xsd:sequence>
		<xsd:attribute name="_id" type="xsd:ID"/>
	</xsd:complexType>

	<xsd:complexType name="FeatureType">
		<xsd:attribute name="Name" type="xsd:string" use="required"/>
		<xsd:attribute name="ComponentID" type="xsd:string" use="required"/>
		<xsd:attribute name="_id" type="xsd:ID"/>
	</xsd:complexType>

	<xsd:complexType name="FeaturesType">
		<xsd:sequence>
			<xsd:element name="Feature" type="FeatureType" maxOccurs="unbounded"/>
		</xsd:sequence>
		<xsd:attribute name="FeatureID" type="xsd:string" use="required"/>
		<xsd:attribute name="GeometryType" type="xsd:string" use="required"/>
		<xsd:attribute name="FeatureInterfaceType" type="xsd:string" use="required"/>
		<xsd:attribute name="FeatureGeometryType" type="xsd:string" use="required"/>
		<xsd:attribute name="PrimaryGeometryQualifier" type="xsd:string" use="required"/>
		<xsd:attribute name="SecondaryGeometryQualifier" type="xsd:string" use="required"/>
		<xsd:attribute name="_id" type="xsd:ID"/>
	</xsd:complexType>

	<xsd:complexType name="ShotlineType">
		<xsd:attribute name="BallisticThreatRef" type="xsd:string" use="required"/>
		<xsd:attribute name="Azimuth" type="xsd:double" use="required"/>
		<xsd:attribute name="Elevation" type="xsd:double" use="required"/>
		<xsd:attribute name="ComponentID" type="xsd:string" use="required"/>
		<xsd:attribute name="DatumPoint" type="xsd:string" use="required"/>
		<xsd:attribute name="_id" type="xsd:ID"/>
	</xsd:complexType>

	<xsd:complexType name="ReferencePlaneType">
		<xsd:attribute name="Type" type="xsd:string" use="required"/>
		<xsd:attribute name="_id" type="xsd:ID"/>
	</xsd:complexType>

	<xsd:complexType name="ShotlinesType">
		<xsd:sequence>
			<xsd:element name="Shotline" type="ShotlineType" maxOccurs="unbounded"/>
		</xsd:sequence>
		<xsd:attribute name="_id" type="xsd:ID"/>
	</xsd:complexType>

	<xsd:complexType name="BallisticType">
		<xsd:sequence>
			<xsd:element name="ReferencePlane" type="ReferencePlaneType" minOccurs="0"/>
			<xsd:element name="Shotlines" type="ShotlinesType" minOccurs="0"/>
		</xsd:sequence>
		<xsd:attribute name="AnalysisID" type="xsd:string" use="required"/>
		<xsd:attribute name="_id" type="xsd:ID"/>
	</xsd:complexType>

	<xsd:complexType name="SurfaceTreatmentType">
		<xsd:sequence>
			<xsd:element name="Geometry" type="GeometryType" minOccurs="0"/>
		</xsd:sequence>
		<xsd:attribute name="AdjoiningParts" type="xsd:string"/>
		<xsd:attribute name="_id" type="xsd:ID"/>
	</xsd:complexType>

	<xsd:complexType name="SurfaceTreatmentsType">
		<xsd:sequence>
			<xsd:element name="SurfaceTreatment" type="SurfaceTreatmentType" maxOccurs="unbounded"/>
		</xsd:sequence>
		<xsd:attribute name="_id" type="xsd:ID"/>
	</xsd:complexType>

	<xsd:complexType name="ConditionType">
		<xsd:attribute name="Name" type="xsd:string" use="required"/>
		<xsd:attribute name="Value" type="xsd:double" use="required"/>
		<xsd:attribute name="Units" type="xsd:string" use="required"/>
		<xsd:attribute name="_id" type="xsd:ID"/>
	</xsd:complexType>

	<xsd:complexType name="ConditionsType">
		<xsd:sequence>
			<xsd:element name="Condition" type="ConditionType" maxOccurs="unbounded"/>
		</xsd:sequence>
		<xsd:attribute name="_id" type="xsd:ID"/>
	</xsd:complexType>

	<xsd:complexType name="MetricsType">
		<xsd:sequence>
			<xsd:element name="Metric" type="MetricType" maxOccurs="unbounded"/>
		</xsd:sequence>
		<xsd:attribute name="_id" type="xsd:ID"/>
	</xsd:complexType>

	<xsd:complexType name="MetricType">
		<xsd:attribute name="Type" type="xsd:string" use="required"/>
		<xsd:attribute name="ID" type="xsd:string" use="required"/>
		<xsd:attribute name="_id" type="xsd:ID"/>
	</xsd:complexType>

	<xsd:complexType name="ToleranceType">
		<xsd:attribute name="AnalysisID" type="xsd:string" use="required"/>
		<xsd:attribute name="_id" type="xsd:ID"/>
	</xsd:complexType>

	<xsd:complexType name="InterferenceType">
		<xsd:attribute name="AnalysisID" type="xsd:string" use="required"/>
		<xsd:attribute name="_id" type="xsd:ID"/>
	</xsd:complexType>

	<xsd:complexType name="SolversType">
		<xsd:sequence>
			<xsd:element name="Solver" type="SolverType" maxOccurs="unbounded"/>
		</xsd:sequence>
		<xsd:attribute name="_id" type="xsd:ID"/>
	</xsd:complexType>

	<xsd:complexType name="ComponentType">
		<xsd:sequence>
			<xsd:element name="Metrics" type="MetricsType" minOccurs="0"/>
		</xsd:sequence>
		<xsd:attribute name="ComponentID" type="xsd:string" use="required"/>
		<xsd:attribute name="InfiniteCycle" type="xsd:boolean" use="required"/>
		<xsd:attribute name="_id" type="xsd:ID"/>
	</xsd:complexType>

	<xsd:complexType name="PartInterfaceType">
		<xsd:attribute name="Type" type="xsd:string" use="required"/>
		<xsd:attribute name="ComponentID_1" type="xsd:string" use="required"/>
		<xsd:attribute name="ComponentID_2" type="xsd:string" use="required"/>
		<xsd:attribute name="_id" type="xsd:ID"/>
	</xsd:complexType>

	<xsd:complexType name="LoadType">
		<xsd:sequence>
			<xsd:element name="Acceleration" type="AccelerationType" minOccurs="0"/>
			<xsd:element name="ForceMoment" type="ForceMomentType" minOccurs="0"/>
			<xsd:element name="Geometry" type="GeometryType" minOccurs="0"/>
			<xsd:element name="Pressure" type="PressureType" minOccurs="0"/>
		</xsd:sequence>
		<xsd:attribute name="_id" type="xsd:ID"/>
	</xsd:complexType>

	<xsd:complexType name="AnalysisConstraintType">
		<xsd:sequence>
			<xsd:element name="Ball" type="BallType" minOccurs="0"/>
			<xsd:element name="Displacement" type="DisplacementType" minOccurs="0"/>
			<xsd:element name="Geometry" type="GeometryType" minOccurs="0"/>
			<xsd:element name="Pin" type="PinType" minOccurs="0"/>
		</xsd:sequence>
		<xsd:attribute name="_id" type="xsd:ID"/>
	</xsd:complexType>

	<xsd:complexType name="AnalysisComponentsType">
		<xsd:sequence>
			<xsd:element name="Component" type="ComponentType" maxOccurs="unbounded"/>
		</xsd:sequence>
		<xsd:attribute name="_id" type="xsd:ID"/>
	</xsd:complexType>

	<xsd:complexType name="LoadsType">
		<xsd:sequence>
			<xsd:element name="Load" type="LoadType" maxOccurs="unbounded"/>
		</xsd:sequence>
		<xsd:attribute name="_id" type="xsd:ID"/>
	</xsd:complexType>

	<xsd:complexType name="SolverType">
		<xsd:attribute name="Type" type="xsd:string" use="required"/>
		<xsd:attribute name="MeshType" type="xsd:string" use="required"/>
		<xsd:attribute name="ShellElementType" type="xsd:string" use="required"/>
		<xsd:attribute name="ElementShapeType" type="xsd:string" use="required"/>
		<xsd:attribute name="_id" type="xsd:ID"/>
	</xsd:complexType>

	<xsd:complexType name="PartInterfacesType">
		<xsd:sequence>
			<xsd:element name="PartInterface" type="PartInterfaceType" maxOccurs="unbounded"/>
		</xsd:sequence>
		<xsd:attribute name="_id" type="xsd:ID"/>
	</xsd:complexType>

	<xsd:complexType name="AnalysisConstraintsType">
		<xsd:sequence>
			<xsd:element name="AnalysisConstraint" type="AnalysisConstraintType" maxOccurs="unbounded"/>
		</xsd:sequence>
		<xsd:attribute name="_id" type="xsd:ID"/>
	</xsd:complexType>

	<xsd:complexType name="FEAType">
		<xsd:sequence>
			<xsd:element name="AnalysisComponents" type="AnalysisComponentsType" minOccurs="0"/>
			<xsd:element name="AnalysisConstraints" type="AnalysisConstraintsType" minOccurs="0"/>
			<xsd:element name="Conditions" type="ConditionsType" minOccurs="0"/>
			<xsd:element name="Loads" type="LoadsType" minOccurs="0"/>
			<xsd:element name="PartInterfaces" type="PartInterfacesType" minOccurs="0"/>
			<xsd:element name="Solvers" type="SolversType"/>
			<xsd:element name="SurfaceTreatments" type="SurfaceTreatmentsType" minOccurs="0" maxOccurs="unbounded"/>
		</xsd:sequence>
		<xsd:attribute name="Type" type="xsd:string" use="required"/>
		<xsd:attribute name="AnalysisID" type="xsd:string" use="required"/>
		<xsd:attribute name="_id" type="xsd:ID"/>
	</xsd:complexType>

	<xsd:complexType name="ComputationsType">
		<xsd:sequence>
			<xsd:element name="BoundingBox" type="BoundingBoxType" minOccurs="0" maxOccurs="unbounded"/>
			<xsd:element name="CenterOfGravity" type="CenterOfGravityType" minOccurs="0" maxOccurs="unbounded"/>
			<xsd:element name="Mass" type="MassType" minOccurs="0" maxOccurs="unbounded"/>
			<xsd:element name="PointCoordinates" type="PointCoordinatesType" minOccurs="0" maxOccurs="unbounded"/>
		</xsd:sequence>
		<xsd:attribute name="_id" type="xsd:ID"/>
	</xsd:complexType>

	<xsd:complexType name="UnassembledComponentsType">
		<xsd:sequence>
			<xsd:element name="CADComponent" type="CADComponentType" maxOccurs="unbounded"/>
		</xsd:sequence>
		<xsd:attribute name="_id" type="xsd:ID"/>
	</xsd:complexType>

	<xsd:complexType name="STEPFormatType">
		<xsd:attribute name="Name" type="xsd:string" use="required"/>
		<xsd:attribute name="_id" type="xsd:ID"/>
	</xsd:complexType>

	<xsd:complexType name="DataExchangeType">
		<xsd:sequence>
			<xsd:element name="STEPFormat" type="STEPFormatType" minOccurs="0" maxOccurs="unbounded"/>
		</xsd:sequence>
		<xsd:attribute name="_id" type="xsd:ID"/>
	</xsd:complexType>

	<xsd:complexType name="MaterialsType">
		<xsd:sequence>
			<xsd:element name="Material" type="MaterialType" maxOccurs="unbounded"/>
		</xsd:sequence>
		<xsd:attribute name="_id" type="xsd:ID"/>
	</xsd:complexType>

	<xsd:complexType name="MaterialPropertyType">
		<xsd:attribute name="PropertyName" type="xsd:string" use="required"/>
		<xsd:attribute name="Value" type="xsd:double" use="required"/>
		<xsd:attribute name="Units" type="xsd:string" use="required"/>
		<xsd:attribute name="_id" type="xsd:ID"/>
	</xsd:complexType>

	<xsd:complexType name="MaterialType">
		<xsd:sequence>
			<xsd:element name="MaterialProperty" type="MaterialPropertyType" maxOccurs="unbounded"/>
		</xsd:sequence>
		<xsd:attribute name="MaterialName" type="xsd:string" use="required"/>
		<xsd:attribute name="MaterialID" type="xsd:string" use="required"/>
		<xsd:attribute name="Type" type="xsd:string" use="required"/>
		<xsd:attribute name="_id" type="xsd:ID"/>
	</xsd:complexType>

	<xsd:complexType name="AnalysesType">
		<xsd:sequence>
			<xsd:element name="Ballistic" type="BallisticType" minOccurs="0" maxOccurs="unbounded"/>
			<xsd:element name="FEA" type="FEAType" minOccurs="0" maxOccurs="unbounded"/>
			<xsd:element name="Interference" type="InterferenceType" minOccurs="0" maxOccurs="unbounded"/>
			<xsd:element name="Tolerance" type="ToleranceType" minOccurs="0" maxOccurs="unbounded"/>
		</xsd:sequence>
		<xsd:attribute name="_id" type="xsd:ID"/>
	</xsd:complexType>

	<xsd:complexType name="AssembliesType">
		<xsd:sequence>
			<xsd:element name="Assembly" type="AssemblyType" minOccurs="0" maxOccurs="unbounded"/>
			<xsd:element name="DataExchange" type="DataExchangeType" minOccurs="0"/>
			<xsd:element name="Materials" type="MaterialsType" minOccurs="0" maxOccurs="unbounded"/>
			<xsd:element name="UnassembledComponents" type="UnassembledComponentsType" minOccurs="0"/>
			<xsd:element name="Assemblies" type="AssembliesType" minOccurs="0" maxOccurs="unbounded"/>
		</xsd:sequence>
		<xsd:attribute name="VersionInfo" type="xsd:string" use="required"/>
		<xsd:attribute name="_id" type="xsd:ID"/>
	</xsd:complexType>

	<xsd:complexType name="CADParameterType">
		<xsd:sequence>
			<xsd:element name="Units" type="UnitsType" minOccurs="0"/>
		</xsd:sequence>
		<xsd:attribute name="Name" type="xsd:string" use="required"/>
		<xsd:attribute name="Type" type="xsd:string" use="required"/>
		<xsd:attribute name="Value" type="xsd:string" use="required"/>
		<xsd:attribute name="_id" type="xsd:ID"/>
	</xsd:complexType>

	<xsd:complexType name="ParametricParametersType">
		<xsd:sequence>
			<xsd:element name="CADParameter" type="CADParameterType" maxOccurs="unbounded"/>
		</xsd:sequence>
		<xsd:attribute name="_id" type="xsd:ID"/>
	</xsd:complexType>

	<xsd:complexType name="ConstraintOffsetType">
		<xsd:sequence>
			<xsd:element name="Units" type="UnitsType" minOccurs="0"/>
		</xsd:sequence>
		<xsd:attribute name="Value" type="xsd:double" use="required"/>
		<xsd:attribute name="OffsetAlignmentType" type="xsd:string" use="required"/>
		<xsd:attribute name="_id" type="xsd:ID"/>
	</xsd:complexType>

	<xsd:complexType name="PairType">
		<xsd:sequence>
			<xsd:element name="ConstraintFeatureA" type="ConstraintFeatureType"/>
			<xsd:element name="ConstraintFeatureB" type="ConstraintFeatureType"/>
			<xsd:element name="ConstraintOffset" type="ConstraintOffsetType" minOccurs="0"/>
		</xsd:sequence>
		<xsd:attribute name="FeatureInterfaceType" type="xsd:string" use="required"/>
		<xsd:attribute name="FeatureGeometryType" type="xsd:string" use="required"/>
		<xsd:attribute name="FeatureAlignmentType" type="xsd:string" use="required"/>
		<xsd:attribute name="_id" type="xsd:ID"/>
	</xsd:complexType>

	<xsd:complexType name="ConstraintFeatureType">
		<xsd:attribute name="ComponentID" type="xsd:string" use="required"/>
		<xsd:attribute name="FeatureName" type="xsd:string" use="required"/>
		<xsd:attribute name="FeatureOrientationType" type="xsd:string" use="required"/>
		<xsd:attribute name="_id" type="xsd:ID"/>
	</xsd:complexType>

	<xsd:complexType name="ConstraintType">
		<xsd:sequence>
			<xsd:element name="Pair" type="PairType" maxOccurs="unbounded"/>
		</xsd:sequence>
		<xsd:attribute name="_id" type="xsd:ID"/>
	</xsd:complexType>

	<xsd:complexType name="CADComponentType">
		<xsd:sequence>
			<xsd:element name="CADComponent" type="CADComponentType" minOccurs="0" maxOccurs="unbounded"/>
			<xsd:element name="Constraint" type="ConstraintType" minOccurs="0" maxOccurs="unbounded"/>
			<xsd:element name="KinematicConnections" type="KinematicConnectionsType" minOccurs="0"/>
			<xsd:element name="ParametricParameters" type="ParametricParametersType" minOccurs="0"/>
		</xsd:sequence>
		<xsd:attribute name="ComponentID" type="xsd:string" use="required"/>
		<xsd:attribute name="Name" type="xsd:string" use="required"/>
		<xsd:attribute name="Type" type="xsd:string" use="required"/>
		<xsd:attribute name="SpecialInstruction" type="xsd:string" use="required"/>
		<xsd:attribute name="MaterialID" type="xsd:string" use="required"/>
		<xsd:attribute name="Standalone" type="xsd:boolean" default="false"/>
		<xsd:attribute name="_id" type="xsd:ID"/>
	</xsd:complexType>

	<xsd:complexType name="UnitsType">
		<xsd:attribute name="Value" type="xsd:string" use="required"/>
		<xsd:attribute name="_id" type="xsd:ID"/>
	</xsd:complexType>

	<xsd:complexType name="PropertiesType">
		<xsd:sequence>
			<xsd:element name="Units" type="UnitsType" minOccurs="0"/>
		</xsd:sequence>
		<xsd:attribute name="_id" type="xsd:ID"/>
	</xsd:complexType>

	<xsd:complexType name="AssemblyType">
		<xsd:sequence>
			<xsd:element name="Analyses" type="AnalysesType" minOccurs="0"/>
			<xsd:element name="CADComponent" type="CADComponentType" minOccurs="0"/>
			<xsd:element name="Computations" type="ComputationsType" minOccurs="0"/>
			<xsd:element name="Properties" type="PropertiesType"/>
		</xsd:sequence>
		<xsd:attribute name="ConfigurationID" type="xsd:string" use="required"/>
		<xsd:attribute name="_id" type="xsd:ID"/>
	</xsd:complexType>

<!--
 <xsd:element name="Assemblies" type="AssembliesType"/>
-->

</xsd:schema>
